@charset "utf-8"; 
body{ background:#f8f8f8;}
/*找回密码*/

.forget-content .form-group dl dt {width:100px;}
.forget-content .form-group dl dd{ padding-left:100px;}
.page-notice{ margin-left:3%;line-height: 20px;display: block;margin-bottom:0.5rem;color: #999; font-size:0.6rem;}
 dl{width: 94%;margin: auto;overflow: hidden;position: relative;border-bottom: #eee 1px solid;box-sizing: border-box;}
 dl:last-child{ border-bottom:none;}
 dl dt {width:101px;height: 2.25rem;line-height: 2.25rem;float: left;font-size: 0.7rem;color: #353535;}
 dl dd input {border: none;height: 1.25rem;padding: 0.5rem 0 0.5rem;line-height: 1.25rem;width: 175px;font-size: 0.7rem;color: #666;}
 dl dd a.phonecode {position: absolute;top: 0.25rem;right: 0.5rem;height: 1.75rem;line-height: 1.75rem;text-align: center;
border-radius: 0.15rem;font-size: 0.7rem;color: #fff;}
 dl dd .captcha{ position:absolute; top:0; right:0.5rem;}
.password-type{ background:url(../images/user/input-eye-off.png) no-repeat right center; background-size:25px;width:30px; height:36px; position:absolute; right:0px; top:10px;}
.password-type.on{ background-image:url(../images/user/input-eye-on.png)}
.password-type+.num-clear{ right:35px; top:17px;}
.forget-content .submit-btn{ width:94%; margin:0 auto;padding: 5px 0;}
.forget-content .submit-btn a.btn-submit{display:block; width:100%; margin-top:20px;height:45px; line-height:45px; border:0px; border-radius:3px; color:#fff; font-size:0.8rem; text-align:center;}
.new-psd-success{ display:block;line-height: 2.25rem;color:#f23030; font-size:0.7rem; text-align:center; position:relative;}
.new-psd-success i{ display:inline-block; color:#f23030; margin-right:0.4rem; line-height:2.25rem; font-size:0.9rem}
