@charset "utf-8";
body{ min-width: 320px; max-width: 640px;}

/*=======首页头部========*/
.header-con{ position:relative; width:100%; }
.header-con .header{ height:50px; position: fixed; min-width: 320px; max-width: 640px; z-index: 209; border-bottom:none;}
.header-con0{ display:none;}
.header-con2 .header{background: transparent;}
.header-con1 .header:after,.header-con2 .header:after{ content: none; }
.header-con .header.current{ top:0px;}
.header-content{position: relative; width: 100%; height:50px;height: 100%; line-height:50px;display: -webkit-box;display: -ms-flexbox;}
.header-con2 .header+#bottom_div{ display:none;}
.header .nav-wap-left,.header .nav-wap-right{margin-top:5px; position:relative; margin:5px 10px 0;}
/*扫码*/
.qrcode{ position:relative; margin:5px 10px 0;}
.qrcode .top-icon{ display:block;background-image: url(../images/btn_scan_white.png);width:25px;height:25px; margin:auto; webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
.qrcode .bottom-nav{ display:block; height:10px; line-height:10px;margin-top:4px; text-align:center; font-size:12px; color:#fff;}
.header .qrcode .top-left{  display:block;background-image: url(../images/catalog.png);width:22px;height:22px; margin:auto; margin-top:3px;-webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
a.city {display: block;margin-right:12px;text-indent:10px;height:50px;line-height:50px;background: url(../images/arrow_down.png) no-repeat right center;background-size:15px 15px;padding-right:18px; color:#fff; font-size:0.65rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.header .nav-wap-right a,.header .nav-wap-right .qrcode{ display:inline-block; cursor:pointer;}
.header .nav-wap-right .qrcode{ margin:0 5px 0 0;}
.header .nav-wap-right a .top-right{ display:block;background-image: url(../images/btn_scan_white.png);width:25px;height:25px; margin:auto; position:relative;-webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
.header .nav-wap-right a:last-child .top-right{background-image: url(../images/message.png);width:25px;height:25px; margin:auto; position:relative;-webkit-background-size: contain; background-size: contain;background-repeat: no-repeat;background-position: center;}
.header .nav-wap-left .bottom-nav,.header .nav-wap-right .bottom-nav{ display:block; height:10px; line-height:10px;margin-top:4px; text-align:center; font-size:12px; color:#fff;}
.message-num{ position: absolute; left: 17px; top: 0; background-color: #FFF; min-width: 13px; height: 13px; line-height: 14px; border-radius: 50%; font-size: 10px; text-align: center;}
.box-search { -webkit-box-flex: 1; -ms-flex: 1;background: rgba(255,255,255,.2); margin-top:10px;height:30px; line-height:30px; -webkit-box-sizing: border-box; position: relative; border-radius:20px; color:#fff; font-size:0.65rem;}
.header-con2 .header.current .box-search{background-color:rgba(250,250,255,.2);background-color: hsla(0,0%,100%,.2);}
.icon-search { margin-left:12px;color:#fff; font-size:0.75rem; position:relative; bottom:-1px; }
.single-line { margin-left: .2rem; font-size:0.6rem; color:#fff;}
