@charset "utf-8";
.header-left a,#show_more{background:url(../images/top1.png) no-repeat;background-size: auto 230px;}
.header {  position:absolute;width:100%; height:50px;background: rgba(255,255,255,0.1);top:0; z-index:9; border:0;}
.header-left{ float:left; width:13%;height:50px;}
.header-left a{ display:block; width:30px; height:50px; background-position:5px 12px; }
.header-right{ float:right; width:13%;height:50px;text-align:center;}
.top_bar{ margin:auto; display:block; width:30px; height:50px; float:none;}
#show_more{width:30px; height:50px;background-position:5px -23px; }
.header-middle { float:left; width:74%;margin:auto; padding-top:8px; text-indent:30px; font-size:18px; }
.header-middle .text-box{ width:100%; display:block; height:34px; background:#efefef;border-radius:5px; position:relative}
.header-middle .text-box .text{ display:block; width:100%;-webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius:3px; -webkit-rtl-ordering: logical; -webkit-user-select: text; height:34px; background:#fff; border:0; font-size:14px; line-height:35px; color:#666; text-indent:10px;}
.header-middle .text-box .submit{ display:block; width:34px; height:34px; position:absolute; right:0px; top:0; background:url(../images/search.png) no-repeat center center;background-size: auto 30px; border:0}


.coupon-items{ width:95%; margin:auto; }
.coupon-items .coupon-item{ margin-top:10px; height:4rem;display: -webkit-box !important;display: box !important;
position: relative;background:#fff;}
.coupon-item .coupon-geted {position: absolute;left: 0;top: 0;display: block;overflow: hidden;width:45px;height:45px;background-image:url(../images/coupon_geted.png); background-size:45px; z-index:2;}
.coupon-item .coupon-getend {position: absolute;left: 0;top: 0;display: block;overflow: hidden;width:45px;height:45px;background-image:url(../images/coupon_getend.png); background-size:45px; z-index:2;}
.coupon-items .coupon-item .coupon-item-right{ background:url(../images/user-bonus-bg.png); background-size:contain; width:5rem; height:3.95rem; text-align:center; position:relative;}
.coupon-items .coupon-item.coupon-item-ed .coupon-item-right{background:url(../images/used_bonus_bg.png); background-size:contain;}
.coupon-item-right .coupon-num{ font-size:12px; color:#fff; line-height:1.8rem; margin-top:0.5rem}
.coupon-item-right .coupon-num em{ font-size:1.2rem;}
.coupon-item-right .op-btns{ font-size:14px; color:#fff; line-height:1.15rem;}
.coupon-item-right .op-btns a.btn {display: inline-block;width:4rem;height:1rem;line-height:1rem;border: 1px solid #fff;color:#fff;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;vertical-align: middle;overflow: hidden; text-align:center;position: absolute;right: 10px;bottom:10px}
.coupon-items .coupon-item .coupon-item-left{position: relative;-webkit-box-flex: 1;box-flex: 1; padding:0.15rem 10px 0 10px; border-left: 1px solid #eee;border-top: 1px solid #eee;border-bottom: 1px solid #eee;box-sizing: border-box;}
.coupon-items .coupon-item .coupon-item-left .coupon-left-top h3{ font-size:15px; color:#222; line-height:1rem; font-weight:normal;}
.coupon-items .coupon-item .coupon-item-left .coupon-left-top .coupon-range{ line-height:0.8rem; font-size:13px; color:#666;}
.coupon-items .coupon-item .coupon-item-left .coupon-left-top .coupon-range a{line-height: 0.8rem;font-size: 13px;color: #666;}
.coupon-items .coupon-item .coupon-item-left .coupon-left-bottom{ border-top:1px dashed #eee; line-height:1rem; font-size:12px; color:#999; margin-top:0.15rem;}