/node_modules
/public/hot
/public/upload
/public/demo
/public/storage
/public/frontend/css/custom/site-color-style-0.css
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
/backup/*.zip
/database/unready
/captures
/html
/app_api
/docs
/note.md
yarn.lock