/node_modules
/public/hot
/public/upload
/public/demo
/public/storage
/public/frontend/web/css/custom/site-color-style-0.css
/storage/*.key
/storage/upload
/vendor
#/resources/static/assets/min
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
.env
composer.lock
package-lock.json
/backup/*.zip
/database/migrations
/swoole*.*
.rr.yaml
rr
/test
/public/h5
404.html
index.html
yarn.lock
/.user.ini
/public/.user.ini

# 以下文件暂时不提交git
/app/Console/Commands/CommissionServer1.php
/app/Console/Commands/CommissionServer3.php
/app/Modules/Frontend/Http/Controllers/Integralmall/BuyController.php
