@charset "utf-8";
.w990 { width: 990px; }
.item .icon, .logo-info a.sina, .logo-info a.qq, .forget-content .forget-form .msg-wrap .msg-icon, .logo-info .weixin span, .item-coagent a i, .item-coagent a:hover i, .forget-con .forget-switch a, .forget-mobile .default-state .qrcode-desc i { background: url(../images/login-regiser-icon.png) no-repeat; }
/*头部*/
.header { height: 95px; padding-top: 10px; background: url(../images/login/header_bg.png) center center; color: #fff }
.logo-info { width: 920px; margin: 0 auto; position: relative; z-index: 5; float: none }
.logo-info a.logo { display: block; width: 250px; height: 70px; margin: 10px 0 0 0px; float: left; overflow: hidden; }
.logo-info a.logo img { max-width: 100%; max-height: 100%; }
.logo-info span.findpw { border-left: solid 1px rgba(255,255,255,0.25); height: 44px; line-height: 44px; font-size: 28px; margin: 26px 0px 0px 15px; float: left; padding: 0px 15px; color: #fff; }
/*找回密码*/
.forget-content { margin: 20px auto }
.forget-wrap { padding: 40px; border: 1px #ddd solid; }
.stepflex .s-num, .stepflex dl.doing b, .stepflex dl.doing s, .stepflex dl.first s, .stepflex dl.last b, .safe-con-end p i { background: url(../images/login/user-icon.png) no-repeat; }
.stepflex { width: 720px; }
.stepflex { display: inline-block; display: block; border-top: 5px solid #ccc; text-align: center; margin: 50px auto 80px; }
.stepflex dl { float: left; position: relative; width: 180px; top: -5px; border-top: 5px solid #ccc; }
.stepflex-spe dl { width: 360px; }
.stepflex .s-num { position: relative; margin: -20px auto 10px; color: #fff; font-weight: 700; width: 35px; height: 35px; line-height: 35px; font-size: 14px; background-position: -120px -170px; }
.stepflex .s-text { color: #ccc; font-size: 13px; }
.stepflex dl.doing { border-top-color: #7abd54; }
.stepflex dl.doing .s-num { background-position: -160px -170px; }
.stepflex dl.doing .s-text { color: #7abd54; }
.stepflex dl.done { border-top-color: #caecb6; }
.stepflex dl.done .s-num { background-position: -200px -170px; }
.stepflex dl.done .s-text { color: #caecb6; }
.stepflex dl.doing b, .stepflex dl.doing s, .stepflex dl.first s, .stepflex dl.last b { width: 5px; height: 5px; position: absolute; line-height: 0; font-size: 0; top: -5px; overflow: hidden; }
.stepflex dl .s-text s { left: 0; }
.stepflex dl .s-text b { right: 0; }
.stepflex dl.first .s-text s { background-position: -120px -210px; background-color: #fff; }
.stepflex dl.last .s-text b { background-position: -126px -210px; background-color: #fff; }
.stepflex dl.doing .s-text s { background-position: -143px -210px; }
.stepflex dl.doing .s-text b { background-position: -150px -210px; background-color: #ccc; }
.stepflex dl.doing.last .s-text s, .stepflex dl.doing.normal .s-text s { background-color: #caecb6; }
.stepflex dl.doing.last .s-text b { background-color: #fff; }
.stepflex dl.done .s-text s { background-position: -166px -210px; }
.stepflex dl.done .s-text b { background-position: -171px -210px; }
.stepflex dl.last .s-text .s-num { background-position: -320px -120px; }
.stepflex dl.doing.last .s-text .s-num { background-position: -349px -120px; }
.find-box-end { width: 100%; text-align: center; }
.find-box-end p { width: 300px; margin: 0 auto; }
.find-box-end p.success { height: 80px; line-height: 80px; color: #7FD000; font-size: 20px; }
.find-box-end p i { width: 80px; height: 80px; background: url(../images/login/success.png) no-repeat left top; display: inline-block; vertical-align: middle; }
.find-box-end p.tips { height: 50px; line-height: 50px; font-size: 14px; }

/*form表单*/
.form-horizontal .form-group input[type="text"]:focus, .form-horizontal .form-group input[type="text"]:hover, .form-horizontal .form-group input[type="text"]:active, .form-horizontal .form-group input[type="password"]:focus, .form-horizontal .form-group input[type="password"]:hover, .form-horizontal .form-group input[type="password"]:active, .form-horizontal .form-group textarea:hover, .form-horizontal .form-group textarea:focus, .form-horizontal .form-group textarea:active, .form-horizontal .form-group .form-control.select:focus, .form-horizontal .form-group .form-control.select:active, .form-horizontal .form-group .form-control.select:hover{ background-color: #fff;outline: 0 none; border: 1px solid #aaa; box-shadow:none; }
.form-horizontal .form-group input[disabled], .form-horizontal .form-group input[disabled]:hover { background-color: #eee !important; opacity: 1; cursor: not-allowed; border-color: #ccc; box-shadow: none; }
.form-horizontal .form-group input[type="text"], .form-horizontal .form-group input[type="password"] { width: 250px; max-width: 600px; line-height: 20px; height: 20px; padding: 5px; border-radius: 2px; border: 1px solid #ccc; box-shadow: 0 1px 2px 0 #f0f0f0 inset; background: #fff; vertical-align: middle; }
.form-horizontal .form-group input.error, .form-horizontal .form-group input.error:hover, .form-horizontal .form-group input.error:active, .form-horizontal .form-group input.error:focus { border: 1px solid rgb(237, 85, 100) }
.form-horizontal .simple-form-field{margin: 10px 0px 16px;height: 40px; }
.form-horizontal { width: 780px; padding-top: 10px; margin-left:180px}
.form-horizontal .form-group label.control-label { width: 110px !important; line-height: 38px; font-size: 14px; color:#999; float:left; display:inline-block;text-align: right; margin-right: 20px; }
.form-horizontal .form-group .col-sm-8 { line-height: 38px; float: left; }
.form-horizontal .form-group .form-control{ line-height: 28px !important; height: 28px !important; }
.form-horizontal .form-group .form-control.ipt { width: 100px; }
.form-horizontal .form-group .form-control-box {margin-right:15px;position: relative; display: inline-block; float:left; line-height: 30px; }
.form-horizontal .form-group .form-control-box label.control-label{ font-size:12px; color:#666;text-align: left;}
.form-horizontal .form-group .form-control.select { min-width: 150px; max-width: 200px; padding: 5px; border: 1px solid #ccc; cursor: pointer ; height:38px !important}
.form-horizontal .form-group .form-control.select option { cursor: pointer; padding: 2px 5px; }
.form-group .form-control-box .pwd-toggle { background: url(../images/login/user-icon.png) no-repeat; width: 15px; height: 15px; vertical-align: middle; margin-right: 4px; display: inline-block; position: absolute; top: 16px; right: 10px; left:auto; cursor: pointer; }
.form-group .form-control-box .pwd-toggle.fa-eye-slash { background-position: -24px -30px; }
.form-group .form-control-box .pwd-toggle.fa-eye { background-position: -24px -50px; }
.form-horizontal .form-group .form-control-error { line-height: 26px;  }
.form-horizontal .form-group .form-control-error i { width: 16px; height: 16px; background: url(../images/login/user-icon.png) no-repeat; background-position: -30px -134px; margin-right: 5px; vertical-align: middle; display: inline-block; }
.form-horizontal .form-group .captcha { margin-left:10px;}
.form-horizontal .form-group .captcha-image {vertical-align: middle; cursor: pointer;}
.phonecode { background: #F6F6F6; border: 1px solid #d9d9d9; cursor: pointer; padding: 0 8px; display: inline-block; line-height: 38px; height: 38px; color: #666 !important; margin-left: 10px; text-align: center; width: 120px; vertical-align: middle; }
.forget-btn { width: 262px; margin-bottom: 20px; margin-left: 130px; overflow: hidden; }
.form-horizontal .form-group .btn.btn-primary,.btn-img.btn-entry { width: 262px; height: 35px; font-size: 14px; color: #FFF; background: #FA4862; text-align: center; text-decoration: none; cursor: pointer; letter-spacing: 2px; border-radius:0px; border: none; display:block ;line-height: 35px;}

/*底部*/
.footer-info{  width: 100%; min-width: 1210px; height: auto; padding: 25px 0 15px; font-size: 12px; background: #3A3A3A; color: #cccccc; display: inline-block; position: relative; z-index: 101;}
.footer-info .info-text { width: 1210px; margin: 0 auto; text-align: center; margin-bottom: 10px; }
.footer-info .info-text .nav-bottom a { padding: 0px 8px; color: #ccc; }
.footer-info .info-text .nav-bottom a:hover { color: #E31939; }
.footer-info .info-text .sep { margin: 0 10px; }
.footer-info .info-text p { margin: 0; line-height: 25px; }
.footer-info .info-text p a { color: #ccc; }
.footer-info .info-text p a:hover { color: #E31939;} 
.footer-info .info-text p.company-info a{ margin: 0px 5px;}
.footer-info .info-text em{ font-style:normal;}
.footer-info .info-links { clear: both;}
.footer-info .info-links img { width: auto; height: 20px;}
