@charset "utf-8";
/* CSS Document */
.as-shelter,.follow-box{ display: none;}
a,a:active,a:hover,a:focus, input[type=button] ,input[type=submit],.btn,input, button, select, textarea{blr:expression(this.onFocus=this.blur());outline:none; }
a,img {border: none;}
.more, .more.opened, .search-wrap .brand-abox-imgul .brand-seled i, .sanjiao-red, #filter .order b, #filter .pagin .icon, .filter-tag .icon, .filter-tag-radio .icon, .filter-type .filter-type-icon, .category .item h3 i, .browse-history-other .icon, #historyList .scroll-btn, #historyList .compare-btn, .list-grid .item-con-info .item-add-cart .add-cart.sell-out-btn, .list-grid .item-con-info .item-add-cart .buy-enable{
	background: url(../images/common-icon.png) no-repeat;
}
/*热卖推荐*/
#hotsale { height: 120px; padding: 15px 0; overflow: hidden; position: relative; padding-left: 40px; background: #f9f9f9; margin-bottom: 5px;}
#hotsale .hd { font-size: 16px; color: #fff; float: left; padding: 33px 12px; width: 16px; position: absolute; left: 0; top: 0;}
#hotsale dl { width: 254px; overflow: hidden; margin-left: 15px; background: #fff; padding: 10px; float: left;}
#hotsale dt { float: left; width: 100px; margin-right: 10px; position: relative;}
#hotsale dt a{display: table-cell;height: 100px;overflow: hidden;text-align: center;vertical-align: middle;width: 100px;}
#hotsale dt a img { width: 100px; height: 100px;}
#hotsale dd { float: left; width: 144px;}
#hotsale .p-name { height: 40px; line-height: 20px; overflow: hidden;}
#hotsale .p-price { margin-top: 5px; color: #999;}
#hotsale .p-price .shop-price { font-size: 14px; font-weight: bold;}
#hotsale .btns { margin-top: 5px;}
#hotsale .btns a:link, #hotsale .btns a:visited { display: block; width: 72px; height: 25px; border-radius: 2px; text-align: center; line-height: 25px; font-size: 12px; color: #fff; cursor: pointer;}
/*条件筛选*/
.search-wrap { width: 1210px; text-align: left; border-top: 1px solid #eee; border-bottom: 1px solid #eee; position: relative; z-index: 1;}
.search-wrap dl { width: 1188px; border-top: 1px dotted #ddd; padding: 10px 10px 5px 10px; margin: 0; overflow: hidden; border-left: 1px solid #eee; border-right: 1px solid #eee;}
.search-wrap dl dt { float: left; width: 100px; height: 24px; line-height: 24px; text-align: right; padding: 0px 5px 5px 0; color: #999; overflow: hidden;}
.search-wrap dl dd { float: none; padding: 0px 10px 0 0; margin: 0; overflow: hidden;}
.search-wrap dl dd.moredd { float: right; text-align: left; text-indent: 10px; width: 110px; padding: 0;}
.search-wrap dl dd i { float: left; overflow: hidden; width: 4px; height: 1px; margin: 12px 4px 0 0; background: #ccc;}
.search-wrap dl dd ul { float: left; padding: 0; margin: 0;}
.search-wrap dl dd .attr-abox-1 { padding-top: 3px;}
.search-wrap dl dd ul li { float: left; padding: 0 20px 5px 5px; line-height: 24px; white-space: nowrap;}
.more, .more.opened { float: left; display: block; color: #666; padding: 0; margin: 0; width: 45px; height: 20px; line-height: 21px; background-position: 27px -54px; text-indent: 0;}
.more.opened { background-position: 27px -12px;}
.more:hover { background-position: 27px -34px;}
.more.opened:hover { background-position: 27px 8px;}
.multiple { float: right; padding: 0; margin: 0; text-align: center; text-indent: 0; background: #fff; width: 50px; height: 20px; line-height: 20px; border: 1px solid #eee;}
.multiple:hover { border-width: 1px; border-style: solid;}
.duo-b { font-size: 13px; font-weight: bold; padding-right: 3px;}
.input-txt { float: left; width: 50px; height: 23px; line-height: 23px; border: 1px solid #ddd; margin-right: 5px; color: #999999; padding: 0px 5px;}
.select-button { display: inline-block; height: 23px; padding: 0 12px; margin-top: 2px; line-height: 23px; border-radius: 2px; margin-top: 0; text-align: center; cursor: pointer; color: #999; background: #fff; border: 1px solid #ddd;}
.select-button:hover { border-width: 1px; border-style: solid;}
.select-button.disabled, .select-button.disabled:hover { border: 1px solid #eee; color: #ddd; cursor: default;}
.select-button-sumbit { border-width: 1px; border-style: solid; color: #fff; cursor: pointer;}
.select-button-sumbit:hover { color: #fff;}
.attr-group-more { display: inline-block; text-align: center; position: relative; border: 1px solid #eee; border-top: 1px solid #fff; margin-top: -1px; background: #fff; z-index: 2;}
.attr-group-more a { height: 28px; line-height: 28px; padding: 5px 10px;}
.search-wrap dl dd ul.brand-abox-ul { float: left; margin: 0; width: 100%;}
.search-wrap dl dd ul.brand-abox-ul li { float: left; padding: 0 15px 5px 0; width: 75px; overflow: hidden;}
#brand-sobox { overflow: hidden; margin-bottom: 10px; display: none;}
#brand-sobox input { border: 1px solid #ddd; height: 22px; line-height: 22px; width: 160px; color: #999; padding: 0px 5px;}
#brand-zimu { margin-bottom: 10px; width: 100%; display: none;}
#brand-zimu span { float: left; height: 20px; margin-right: 3px;}
#brand-zimu span a { display: block; height: 20px; line-height: 20px; min-width: 15px; padding: 0 5px; color: #666; text-align: center;}
#brand-zimu span.span { position: relative;}
#brand-zimu span.span b { display: block; border-style: solid dashed dashed; border-width: 4px; font-size: 0; overflow: hidden; width: 0; height: 0; _zoom: 1; position: absolute; bottom: -8px; left: 50%; margin-left: -4px;}
#brand-zimu span.span a { display: block; height: 20px; line-height: 20px; min-width: 15px; padding: 0 5px; color: #fff; text-align: center;}
.brand-more { border: 1px solid #ddd; overflow: hidden; padding: 10px; margin: 0; margin-bottom: 10px; height: 100px; overflow-y: scroll; position: relative;}

.search-wrap .selected-attr-dl { border-bottom: 1px dotted #ccc; border-top: none;}
.search-wrap .selected-attr-dl .moredd { text-align: right;}

.search-wrap dl dd .selected-attr { float: left; overflow: hidden;}
.search-wrap dl dd .selected-attr li { float: left; height: 24px; margin: 0 5px 5px 0; padding: 0;}
.search-wrap dl dd .selected-attr li a { display: block; height: 22px; line-height: 22px; border-width: 1px; border-style: solid; border-color: #eee; padding: 0 26px 0 4px; position: relative; z-index: 1;}
.search-wrap dl dd .selected-attr li b { font-weight: normal;}
.search-wrap dl dd .selected-attr li i { margin: 0; text-decoration: none; display: block; position: absolute; right: 0; top: 0; width: 22px; height: 22px; line-height: 18px; text-align: center; font-size: 18px; background-color: #fff;}
.search-wrap dl dd .selected-attr li a:hover i{ color: #fff;}

.search-wrap .brand-abox-imgul { float: left; margin: 0; padding: 0; list-style: none; margin-bottom: 5px; padding-left:1px; padding-bottom: 1px; *padding-bottom:1px; display: block; position: relative; }
.search-wrap .brand-abox-imgul li { float: left; text-align: center; width: 102px; height: 42px; line-height: 40px; padding: 0; margin: 0px 0px -1px -1px;}
.search-wrap .brand-abox-imgul li.bottom { float: left; text-align: center; width: 102px; height: 42px; line-height: 40px; padding: 0;}
.brand-abox-imgul li:last-child{ margin-right:0px !important;}
.search-wrap .brand-abox-imgul li:hover { position: relative; z-index: 1;}
.search-wrap .brand-abox-imgul li img { float: left; width: 100px; height: 40px;}
.search-wrap .brand-abox-imgul li a { display: block; width: 100px; height: 40px; position: relative; background: #fff; cursor: pointer; border: 1px solid #ddd; overflow: hidden;}
.search-wrap .brand-abox-imgul li a:hover { border-width: 2px; border-style: solid;box-shadow: 2px 2px 3px rgba(0,0,0,.12);}
.search-wrap .brand-abox-imgul li a span { display: none; width: 100px; height: 40px; line-height: 40px; text-align: center; background: #fff;}
.search-wrap .brand-abox-imgul li a i { display: none;}
.search-wrap .brand-abox-imgul li a:hover span { position: absolute; left: 0; top: 0; display: block; width:98px; height:38px; line-height: 38px; }
.search-wrap .brand-abox-imgul li a:hover,.search-wrap .brand-abox-imgul li:hover img {width:98px; height:38px;}
.search-wrap .brand-abox-imgul .brand-seled { background-position: 80px; position: relative; z-index: 1;box-shadow: 2px 2px 3px rgba(0,0,0,.12);}
.search-wrap .brand-abox-imgul .brand-seled i { display: block; width: 10px; height: 10px; margin: 0; background-position: 0 -122px; position: absolute; right: 0; bottom: 0;}
.search-wrap .brand-abox-imgul .brand-seled a{ border-width:2px;width: 98px; height: 38px;line-height: 38px;}
.search-wrap .brand-abox-imgul .brand-seled a img{width: 98px; height: 38px;}
.search-wrap dl .duoxuan-btnbox { float: left; width: 100%; margin: 15px auto 7px auto; display: none;}
.search-wrap dl.duoxuan .duoxuan-btnbox { display: block; text-align: center;}
.search-wrap dl.duoxuan .duoxuan-btnbox .select-button:last-child { margin-left: 10px; white-space: nowrap;}
.search-wrap dl .checkBox { vertical-align: middle; display: none;}
.search-wrap dl.duoxuan .checkBox { display: inline; cursor: pointer;}
.color-value li span { width: 17px; height: 17px; margin-top: 5px; display: block; position: relative; border: 1px solid #f5f5f5;}
.color-value li span a { display: block; cursor: pointer; width: 17px; height: 17px;}
.color-value li span.selected { display: block; border-width: 1px; border-style: solid; width: 17px; height: 17px;}
.color-value li span .sanjiao-red { width: 10px; height: 10px; position: absolute; right: 0; bottom: 0; background-position: 0 -122px; display: none;}
.color-value li span.selected .sanjiao-red { display: block;}

/*商品列表*/
.content-wrap { width: 1210px;}
.content-wrap .aside { width: 210px; float: left;}
.content-wrap .main { padding-left: 225px;}
/*排序*/
#filter { border: 1px solid #EEE; background: #FFF;}
#filter.filter-fixed { position: fixed;top: 0; z-index: 999999; width: 1208px;}
#filter.filter-fixed .fore2 { display: none;}
#filter .fore1 { background: #F9F9F9; height: 38px; line-height: 38px; overflow: hidden;}
#filter .fore2 { border-top: 1px solid #EEE; background: #fff; height: 38px;}
#filter .order { float: left; height: 38px;}
#filter .order dd { float: left;}
#filter .order a { display: block; height: 38px; padding: 0 18px; border-left: solid 1px #F9F9F9; border-right: solid 1px #F9F9F9; margin-left: -1px;}
#filter .order .first a, #filter .order .curr.first a { margin-left: 0; border-left: 0;}
#filter .order .curr a, #filter .order a:hover { position: relative; z-index: 1; background: #FFF; border-color: #eee;}
#filter .order a i{ vertical-align: middle; color: #DDDDDD; margin-top: 2px; display: inline-block;}
#filter .pagin { float: right; line-height: 38px; overflow: hidden;}
#filter .pagin .prev, #filter .pagin .next, #filter .pagin .text { float: left; line-height: 37px;}
#filter .pagin .prev, #filter .pagin .next { padding: 0 15px; height: 38px;}
#filter .pagin .icon { display: inline-block; width: 6px; height: 9px; margin-top: 14px;}
#filter .pagin .prev .prev-btn { background-position: -26px 0;}
#filter .pagin .prev-btn:hover { background-position: -42px 0;}
#filter .pagin .prev-disabled { background-position: -58px 0;}
#filter .pagin .next .next-btn { background-position: -74px 0;}
#filter .pagin .next-btn:hover { background-position: -90px 0;}
#filter .pagin .next-disabled { background-position: -106px 0;}
#filter .total { float: right;}
#filter .total span { padding: 0 3px;}
#filter .filter-btn { float: left; height: 38px;}
.filter-tag, .filter-tag-radio { float: left; height: 38px; line-height: 38px; margin-left: 17px; cursor: pointer; color: #666; white-space: nowrap;}
.filter-tag i{ float: left; color: #DDDDDD; vertical-align: middle; cursor: pointer; margin-top: 2px;}
.filter-tag .text, .filter-tag-radio .text { float: left; margin-left: 4px;}
.filter-tag-radio .icon { background-position: -56px -12px;}
.filter-tag-radio.curr .icon, .filter-tag-radio:hover .icon { background-position: -71px -12px;}
.filter-mod { float: right; height: 38px; overflow: hidden; background: #FCFCFC;}
.filter-mod .filter-type { width: 38px; height: 38px; float: left; overflow: hidden; border-left: 1px solid #eee; border-right: 1px solid #eee; margin-right: -1px;}
.filter-mod .filter-type i{color: #999; text-align: center; width: 38px; height: 38px; display: block; line-height: 40px; }
.filter-mod .filter-type i.icon-list{ font-size: 20px;}
.filter-mod .filter-type-icon { display: block; margin-top: 14px; margin-left: 14px; width: 12px; height: 12px;}
.filter-type-list .filter-type-icon { background-position: -70px -30px;}
.filter-type-grid .filter-type-icon { background-position: -26px -30px;}
.filter-type-text .filter-type-icon { background-position: -114px -30px;}
.filter-type-list:hover .filter-type-icon, .filter-type-list.curr .filter-type-icon { background-position: -92px -30px;}
.filter-type-grid:hover .filter-type-icon, .filter-type-grid.curr .filter-type-icon { background-position: -48px -30px;}
.filter-type-text:hover .filter-type-icon, .filter-type-text.curr .filter-type-icon { background-position: -136px -30px;}
.filter-type.curr { background-color: #fff;}
.filter-type:hover { background-color: #fff;}
/*列表 表格形式*/
.list-grid { overflow: hidden;}
.list-grid .item { float: left; font-size: 12px; width: 233px; margin: 15px 15px 0 0; padding: 1px;}
.list-grid .item.last { margin-right: 0;}
.main1210 .list-grid .item { width: 228px;}
.list-grid .item-con { background: #FFF; line-height: 18px; padding: 5px 4px; border: solid 1px #eee; position: relative; overflow: hidden;}
.main1210 .list-grid .item-con{ padding: 5px 4px 5px 3px;}
.list-grid .item-tag-box,.goodsList .item-tag-box{ position: absolute; left: 6px; top: 5px;}
.goodsList .item-tag-box{ top: auto; bottom:0px; left: 0px;} 
.list-grid .item-tag,.goodsList .item-tag{width: 40px; height: 22px; text-align: center; position: relative; color: #fff; z-index: 2;}
.list-grid .item-tag.service,.goodsList .item-tag.service{ background:#9900FF ;}
.list-grid .item-tag.service i,.goodsList .item-tag.service i{border-color: #9900FF transparent transparent;}
.list-grid .item-tag.fictitious,.goodsList .item-tag.fictitious{ background: #FF4791;}
.list-grid .item-tag.fictitious i,.goodsList .item-tag.fictitious i{border-color: #FF4791 transparent transparent;}
.list-grid .item-tag span,.goodsList .item-tag span {line-height: 22px;  display: block; text-align: center; font-size: 12px;}
.list-grid .item-tag i{ position: absolute; display:none; border-style: solid; border-width: 9px 20px; left: 0; top: 22px;}
.list-grid .item-tag.best,.list-grid .item-tag.hot,.list-grid .item-tag.new{width: 42px; height: 50px; text-indent: -999px;}
.list-grid .item-tag.best { background: url(../images/common/best.png) no-repeat;}
.list-grid .item-tag.hot{ background: url(../images/common/hot.png) no-repeat;}
.list-grid .item-tag.new{ background: url(../images/common/new.png) no-repeat;}
.goodsList .item-tag.best{ background: #03A31C;}
.goodsList .item-tag.hot{ background: #F23030;}
.goodsList .item-tag.new { background: #F4B70F;}
.list-grid .item-tag.best i,.goodsList .item-tag.best i{border-color: #03A31C transparent transparent;}
.list-grid .item-tag.hot i,.goodsList .item-tag.hot i {border-color: #F23030 transparent transparent;}
.list-grid .item-tag.new i,.goodsList .item-tag.new i {border-color: #F4B70F transparent transparent;}
.list-grid .item-pic{ width: 225px; height: 220px; position: relative; text-align: center;}
.list-grid .item-pic a{ height: 220px; overflow: hidden; text-align: center; vertical-align: middle; width: 220px; display: inline-block;}
.list-grid .item-pic a img { width: 220px; height: 220px;}
.list-grid .shop-over { width: 220px; height: 220px; position: absolute; left: 4px; top: 4px; background: url(../images/soldout.png) no-repeat center center;}
.list-grid .item-info { padding: 0 6px;}
.list-grid .item-price { display: block; height: 20px; line-height: 20px; padding: 15px 0 0; overflow: hidden;}
.list-grid .sale-price { font-size: 20px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; text-overflow: ellipsis; white-space: nowrap; min-width: 70px; float: left; overflow: hidden;}
.list-grid .original-price{ color: #999;}
.list-grid .act-type,.goodsList .act-type{ height: 18px; line-height: 18px; padding: 0 5px; color: #fff; border-radius: 2px; font-size: 11px; margin-right:2px; display: inline-block;}

.list-grid .pre-sale a{ color: #fff;}
.list-grid .sale-count { float: right; font-family: "Microsoft YaHei", Arial; color: #b9b9b9;}
.list-grid .item-name { line-height: 20px; color: #999; height: 40px; display: block; overflow: hidden; margin: 5px 0;}
.list-grid .item-name.beans-show{height: 20px; white-space: nowrap;text-overflow: ellipsis;}
.list-grid .item-name i{ margin-right: 5px;}
.list-grid .item-name i.free-shipping,.list-grid .item-name i.electron,.goodsList i.free-shipping,.goodsList i.electron{ border: 1px solid #ffe1d3; color: #E31939; position: relative; padding: 0 5px;white-space: nowrap;}
.list-grid .item-name i.free-shipping::after,.list-grid .item-name i.electron::after,.goodsList i.free-shipping::after,.goodsList i.electron::after {background: #fff0e7; opacity: 0.07; position: absolute; top:0px; right:0px; bottom:0px; left:0px; display: block; content: ' '; }
.list-grid .item-name i.electron,.goodsList i.electron{color: #F60; border-color: #FF9D5B;}
.list-grid .item-name i.electron::after,.goodsList i.electron::after{background:#FF6600}
.list-grid .item-name i.gift,.goodsList i.gift{ color: #fff; background: #0ABEDE; padding: 0px 3px;}
.list-grid .item-beans,.goodsList .goodsName .item-beans{ display: block; height: 20px; border-radius: 25px; overflow: hidden;}
.list-grid .item-beans .beans-label,.goodsList .goodsName .item-beans .beans-label{background: #FCEADE;color: #FF5F07;font-size: 12px;border-radius: 25px;line-height: 20px;height: 20px;display: inline-block;padding: 0px 12px;}
.list-grid .item-beans .beans-label.return,.goodsList .goodsName .item-beans .beans-label.return{ background:linear-gradient(to bottom left,#ffae4a,#ff4b01); color: #fff;}
.item-beans label:first-child { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important;padding-right: 5px !important;}
.item-beans label:last-child { border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; padding-left: 5px !important;border-top-right-radius: 25px !important; border-bottom-right-radius: 25px !important;}
.goodsList .goodsName .item-beans{margin: 5px 0;}
.list-grid .item-con-info{ height: 50px; overflow: hidden;}
.list-grid .item-con-info .item-operate { overflow: hidden; position: relative; height: 22px; padding: 3px 0;}
.list-grid .item-con-info .operate-btn { float: left; width: auto; height: 18px; overflow: hidden; margin-right: 10px; padding-left: 0px; color: #b9b9b9; position: relative;}
.list-grid .item-con-info .operate-btn i { font-size: 14px; vertical-align: middle; margin-top: 2px; display: inline-block;}
.list-grid .item-con-info .operate-btn.curr, .list-grid .operate-btn:hover { cursor: pointer;}
.list-grid .item-con-info .item-shop{ height: 22px; line-height: 22px;  width: 175px;}
.list-grid .item-con-info .item-shop a{ max-width: 140px; height: 22px; line-height: 22px; display: inline-block; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; vertical-align: middle;}
.list-grid .item-con-info .item-shop em.shop-serve{font-size: 22px; height: 16px; display:inline-block; cursor: pointer; vertical-align: middle; margin-top: -2px;}
.list-grid .item-con-info .item-shop .dsrs { height: 18px; line-height: 18px; padding: 0px 5px; border-radius: 2px; background: #f40; color: #fff; float: left; margin-right: 5px; margin-top: 2px;}
.list-grid .item-con-info .item-add-cart{ width: 30px; height: 50px; overflow: hidden;}
.list-grid .item-con-info .item-add-cart .add-cart { display: block; width: 30px; height: 30px; -moz-background-size:30px 30px; background-size:30px 30px; background-repeat:no-repeat; margin-top: 10px;}
.list-grid .item-con-info .item-add-cart .buy-enable { display: block; width: 30px; height: 30px; background-repeat:no-repeat; margin-top: 10px; background-position: -118px -145px;}
.list-grid .item-con-info .item-add-cart .add-cart.tell-me { background-position: -64px -94px;}
.list-grid .stock { position: absolute; top: 200px; left: 6px; z-index: 2; line-height: 25px; height: 25px; width: 200px; padding: 0 10px; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2000000', endColorstr='#B2000000'); background: rgba(0,0,0,.7);}

/*列表 列表显示*/
.goodsList { padding: 0px; border: 1px #eee solid; border-top: none;}
.goodsList ul { min-height: 74px; overflow: hidden; position: relative; z-index: 1;border-bottom: 1px dotted #eee;}
.goodsList ul.bgcolor { background: #fcfcfc;}
.goodsList ul.last { border-bottom: 0;}
.goodsList li { float: left;}
.goodsList .thumb {	width: 100px; height: 50px; padding: 10px 0px; text-align: center;}
.goodsList .thumb > a{ position: relative; display: block; height:54px; width: 54px; margin: auto;}
.goodsList .thumb img { width: 50px; height: 50px; border: 1px solid #ddd; padding: 1px;}
.goodsList .goodsName { width: 340px; min-height: 45px; line-height: 20px; overflow: hidden; margin: 10px 50px 0px 0;}
.goodsList .goodsName a{ width: 340px; height: 20px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block;}
.goodsList .goodsName .stock{ height: 20px; line-height: 20px;}
.goodsList .list_price { width: 150px; line-height: 20px; margin-top: 17px;}
.goodsList .list-goodstag{width: 60px; height: 60px; position: relative; margin-left: 40px;}
.goodsList .list-goodstag .goodstag-seat{margin-top: -20px;}
.goodsList .action { float: right; margin-right: 10px; margin-top: 24px;}
.goodsList .action .action-btn { height: 25px; line-height: 25px; margin-left: 15px; padding: 0 16px; float: left; color: #fff; text-align: center;}
.goodsList .action .collet-btn { background: #ff9149;}
.goodsList .action .addcart-btn { width: 92px; padding: 0;}
.goodsList .action .sell-over { background: #a1a1a1; color: #fff;}

/*列表页左侧内容*/
.content-wrap .aside { position: relative;}
.content-wrap .aside .slide-aside { display: block; width: 34px; height: 34px; position: absolute; right: 0; top: 0; cursor: pointer; background: url(../images/slide-aside.gif) no-repeat 0 0;}
.content-wrap .aside .slide-aside.left { background-position: -34px 0;}
.aside-inner { width: 210px; overflow: hidden;}
.aside-con { margin-bottom: 15px; width: 210px;}
.aside-tit { height: 38px; line-height: 38px; border-bottom: 1px solid #eee; margin-bottom: 15px; font-size: 16px; font-weight: normal;}

/*左侧分类*/
.category .item { background: #f9f9f9;}
.category .item.last { border: 0;}
.category .item h3 { height: 36px; line-height: 36px; font-size: 14px; text-indent: 15px; position: relative; border: 1px solid #eee; border-bottom: 0;}
.category .item .last { border-bottom: 1px solid #eee;}
.category .item h3 i { position: absolute; display: block; width: 11px; height: 11px; right: 15px; top: 13px; background-position: -26px -59px;}
.category .item.curr h3 { border-width: 1px; border-style: solid; color: #fff; border-bottom: 0;}
.category .item.curr h3 a, .category .item.curr h3 a:hover { color: #fff;}
.category .item.curr h3 i { background-position: -26px -47px;}
.category .item ul { display: none; padding: 0 10px; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee;}
.category .item ul li { height: 32px; line-height: 32px; border-bottom: 1px dotted #eee; text-indent: 10px;}
.category .item ul li.last { border: 0;}

/*左侧新品推荐*/
.aside-list li { border: 1px solid #eee; margin-bottom: 15px; position: relative;}
.aside-list .p-img{ position: relative;}
.aside-list .p-img, .aside-list .p-img a > img  { width: 208px; height: 208px;}
.aside-list .p-img a  {display: inline-block; width: 208px; height: 208px;}
.aside-list .p-price { padding: 5px 10px; height: 18px; line-height: 18px; overflow: hidden;}
.aside-list .p-price .sale-price { float: left; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 400;}
.aside-list .p-price .market-price, .aside-list .p-price .sale-num { float: right; color: #999;}
.aside-list .p-name { position: absolute; z-index: 4; left: 0; bottom: 28px; width: 100%; padding: 5px 0; line-height: 20px; overflow: hidden; max-height: 40px;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2FFFFFF', endColorstr='#B2FFFFFF'); background: rgba(255,255,255,.7); display: none;}
.aside-list .p-name a { display: block; padding: 0 10px; max-height: 40px; overflow: hidden;}
.aside-list .p-price .act-type,#hotsale .p-name .act-type{vertical-align: top; height: 18px; line-height: 18px; padding: 0 5px; background-color: #F23030; color: #fff; border-radius: 2px; font-size: 11px; margin-left: 5px; display: inline-block;}
.aside-list .p-price .act-type.pre-sale,#hotsale .p-name .act-type.pre-sale{background-color: #FE6A6A;}
.aside-list .p-price .act-type.group-buy,#hotsale .p-name .act-type.group-buy{background-color: #FEAC24;}
.aside-list .p-price .act-type.bargain,#hotsale .p-name .act-type.bargain{background-color: #0BB760;}
.aside-list .p-price .act-type.live,#hotsale .p-name .act-type.live{background-color: #7D89B9;}
.aside-list .p-price .act-type.limited-discount,#hotsale .p-name .act-type.limited-discount{background-color:#58B4FF;}
.aside-list .p-price .act-type.fight-group,#hotsale .p-name .act-type.fight-group{background-color: #48CEAD;}
.aside-list .p-price .act-type.pre-sale,#hotsale .p-name .act-type.pre-sale{background-color: #FE6A6A;}
.aside-list .p-price .act-type.gift,#hotsale .p-name .act-type.gift{background-color: #EF2F2F;}
.aside-list .p-price .act-type.set-meal,#hotsale .p-name .act-type.set-meal{background-color: #FF8635;}
.aside-list .p-price .act-type.crowdfund,#hotsale .p-name .act-type.crowdfund{background-color: #48CEAD;}
.aside-list .p-price .act-type.fullsubtraction,.aside-list .p-price .act-type.full-gift,#hotsale .p-name .act-type.fullsubtraction,#hotsale .p-name .act-type.full-gift{background-color: #C282E3;}
.aside-list .p-price .act-type.exchange,#hotsale .p-name .act-type.exchange{background-color: #F0AA4A;}
.aside-list .p-price .act-type.purchase,#hotsale .p-name .act-type.purchase{background-color: #7675F2; }
.aside-list .p-price .act-type.vip,#hotsale .p-name .act-type.vip{background-color: #EC3F3B; }
.aside-list li:hover { border-width: 1px; border-style: solid;}
.aside-list li:hover .p-name { display: block;}

/*猜你喜欢和浏览历史*/
.browse-history-tab { height: 40px; line-height: 40px; border-bottom: 2px solid #eee; position: relative; z-index: 1;}
.browse-history-tab span { float: left; padding: 0 20px; font-size: 16px; cursor: pointer;}
.browse-history-tab .browse-history-line { width: 104px; height: 2px; font-size: 0; position: absolute; left: 0; bottom: -2px;}
.browse-history-tab .browse-history-other { float: right;}
.browse-history-other a { color: #999;}
.browse-history-other a i {  vertical-align: middle; font-size: 16px; margin-right: 3px;}
.browse-history-con { border: 1px solid #eee; border-top: 0; padding: 20px;}
.browse-history-inner { width: 100%; height: 256px; overflow: hidden; position: relative;}
.browse-history-inner ul { overflow: hidden; width: 100%; height: 256px;}
.browse-history-inner ul.recommend-panel { position: absolute; left: 0; top: 0;}
.browse-history-inner li { width: 178px; padding-right: 20px; float: left;}
.browse-history-inner li.li-special,.browse-history-inner li:nth-last-child(1),.browse-history-inner li:nth-child(6n){ padding-right: 0px;}
.browse-history-inner .p-img { width: 178px; height: 178px; margin-bottom: 10px;}
.browse-history-inner .p-img img { height: 178px;}
.browse-history-inner .p-name { line-height: 20px; height: 40px; overflow: hidden;}
.browse-history-inner .p-comm { height: 18px; line-height: 18px; padding: 10px 0 0;}
.browse-history-inner .p-comm .p-price { float: left; font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: 400;}
.browse-history-inner .p-comm .p-comm-num { float: right; color: #999;}

/* 品牌详情页 品牌信息*/
.brand-info { margin-bottom: 15px;}
.brand-info .brand-name { border: 1px solid #eee; border-bottom-width: 1px; border-bottom-style: solid; height: 33px; line-height: 33px; text-align: left; text-indent: 5px;}
.brand-info .brand-detail table { border: 1px solid #eee;}
.brand-info .brand-detail table td { padding: 5px;}
.brand-info .brand-detail table .td-l { width: 200px; border-right: 1px solid #eee;}

/*没有信息内容时显示*/
.category-wrap .tip-box { position: static; margin: 80px auto 0;}
.tip-box { position: absolute; width: 300px; height: 300px; text-align: center;}
.tip-box .tip-icon { display: block; max-width: 100%; max-height: 100%; margin: 0 auto;}
.tip-box .tip-text { line-height: 20px; padding: 10px; font-size: 14px;}

.history-panel .tip-box { left: 50%; margin-left: -150px; width: 250px; height: 250px; top: 20px;}

/*地址选择特殊样样式处理*/
.region-chooser{ float: left; margin-left: 5px;}

/*属性弹框*/
.modal-dialog{ width: 30%;}
.choose dl dd{ width: 290px;}

/*新增售罄样式*/
.sell-out{ position: absolute; width: 95px; height: 95px; top: 60px; left: 50%;z-index:2; margin-left: -47px; background: url(../images/shouqing.png) no-repeat;}
.list-grid .item-con-info .item-add-cart .add-cart.sell-out-btn{ background-position: -118px -145px;}
.shouqing-bgcolor{ background: #f5f5f5; }
.shouqing-bgcolor .shouqing-btn{ background: #aeaeae;}

/*规格属性相册*/
.img-scroll { position: relative; z-index: 2; margin: 10px 2px 0px;}
.img-scroll .img-wrap { width: 170px; height: 29px; overflow: hidden; position: relative; left: 26px; z-index: 1;}
.img-scroll .img-next,  .img-scroll .img-prev { display: none; position: absolute; width: 20px; height: 29px; line-height: 29px; text-align: center; color: #333; font-size: 16px; font-family: "\5b8b\4f53"; cursor: pointer; z-index: 2;}
.img-scroll .img-prev { left: 2px; top: 0;}
.img-scroll .img-next { left: 196px; top: 0;}
.img-scroll .img-next.disabled, .img-scroll .img-prev.disabled { padding: 0; color: #ccc; cursor: default;}
.img-scroll ul{ height: 29px; position: absolute;}
.img-scroll ul li { float: left; width: 34px; height: 29px; text-align: left;}
.img-scroll ul li a { cursor: pointer; display: inline-block; width: 25px; height: 25px; border: 1px solid #ddd; padding: 1px;}
.img-scroll ul li a img { width: 25px; height: 25px;}
.img-scroll ul li a.curr { padding: 0; border-width: 2px; border-color: #e4393c;}
.img-scroll.scrolled { width: 194px;}
.img-scroll.scrolled .img-next,  .img-scroll.scrolled .img-prev { display: block;}