@charset "utf-8";
/* CSS Document */
.site-footer{ margin-top: 0px;}
.footer-related{ padding-top: 0px;}
.site-footer .footer-article{ padding-top: 30px;}


.beans-show+.item-beans-wap{ text-align: left; }
/*****************Tab切换样式********************/
.topic-tab{ overflow: hidden; margin: 30px auto !important; padding: 30px 10px 20px; border-radius: 5px; box-sizing: border-box;}
.topic-tab .tabs-nav { width: 100%; height: 50px; border-style: solid; border-width: 0 0 2px 0; position: relative; float: left; z-index: 1;}
.topic-tab .tabs-nav li { width: 25%; height: 50px; float: left; padding: 0; position: relative; z-index: 1; cursor: pointer; text-align: center;}
.topic-tab .tabs-nav li h3 { width: 95%; font-size: 20px; font-weight: 400; line-height: 50px; margin: 0 auto; text-align: center; border-radius: 5px 5px 0px 0px; color: #fff;}
.topic-tab .tabs-nav .tabs-selected { border-style: solid; border-width: 0 0 2px 0;}
.topic-tab .tabs-nav .tabs-selected h3 { color: #fff;}
.topic-tab .tabs-panel { width: 1210px; overflow: hidden;}
.topic-tab .tabs-panel.tabs-hide { display: none !important;}
.topic-tab .tabs-panel ul { width: 1210px; padding: 15px 0px; overflow: hidden;}
.topic-tab .tabs-panel ul li { width: 280px; height:410px; background-color: #fff; float: left; overflow: hidden; margin: 0px 7px 0px 8px; border: 1px #fff 
 solid;}
.topic-tab .tabs-panel ul li dl { width: 280px; margin: 0 auto auto;}
.topic-tab .tabs-panel ul li dl dt.goods-thumb { width: 280px; height: 280px; position: relative;}
.topic-tab .tabs-panel ul li dl dt.goods-thumb a { text-align: center; vertical-align: middle; display: block; width: 280px; height: 280px; overflow: hidden;}
.topic-tab .tabs-panel ul li dl dt.goods-thumb img { max-width: 280px; max-height: 280px; }
.topic-tab .tabs-panel ul li dl dd.goods-info { width: 280px; height: 130px; border: none; overflow: hidden; text-align: center;padding: 0 5px; box-sizing: border-box;}
.topic-tab .tabs-panel ul li dl dd.goods-info .goods-name{ width: 240px; height: 40px; line-height: 20px; font-size: 14px; margin-top: 10px; text-align: left; display: inline-block; overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;margin-bottom: 5px;}
.topic-tab .tabs-panel ul li dl dd.goods-info .goods-name.beans-show{height: 20px;text-overflow: ellipsis;white-space: nowrap;display: block;}
.topic-tab .tabs-panel ul li dl dd.goods-info .goods-price { width: 240px; height: 30px; line-height: 30px; font-size: 16px; font-weight: bold; text-align: left; margin: 0 auto;}
.topic-tab .tabs-panel ul li dl dd.goods-info .topic-add-cart{ width: 240px; height: 35px; line-height: 35px; color: #fff; text-align: center; margin: 0 auto; display: inline-block;}
.topic-tab .tabs-panel ul li:hover dl dd.goods-info .goods-name{ color: #fff;}
.topic-tab .tabs-panel ul li:hover dl dd.goods-info .goods-price { color: #fff;}
.topic-tab .tabs-panel ul li:hover dl dd.goods-info .topic-add-cart{ background-color: #fff;}

/*商品楼层*/
.topic-goods{ overflow: hidden; margin: 10px auto !important;}
.topic-goods .tabs-panel { width: 1210px; overflow: hidden;}
.topic-goods .tabs-panel ul { width: 1210px; padding: 15px 0px; overflow: hidden;}
.topic-goods .tabs-panel ul li { width: 230px; height: 360px; background-color: #fff; float: left; overflow: hidden; margin: 0px 0px 12px 12px; border: 1px #fff solid;}
.topic-goods .tabs-panel ul li.first{ margin-left: 1px;}
.topic-goods .tabs-panel ul li dl { width: 230px; margin: 0 auto auto;}
.topic-goods .tabs-panel ul li dl dt.goods-thumb { width: 230px; height: 230px; position: relative;}
.topic-goods .tabs-panel ul li dl dt.goods-thumb a { text-align: center; vertical-align: middle; display: block; width: 230px; height: 230px; overflow: hidden;}
.topic-goods .tabs-panel ul li dl dt.goods-thumb img { max-width: 230px; max-height: 230px; }
.topic-goods .tabs-panel ul li dl dd.goods-info { width: 230px; height: 130px; border: none; overflow: hidden; text-align: center;padding: 0 5px; box-sizing: border-box;}
.topic-goods .tabs-panel ul li dl dd.goods-info .goods-name{ width: 210px; height:40px; line-height: 20px; font-size: 14px; margin-top: 10px; text-align: left; display: inline-block; overflow: hidden; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;margin-bottom: 5px;}
.topic-goods .tabs-panel ul li dl dd.goods-info .goods-name.beans-show{height: 20px;text-overflow: ellipsis;white-space: nowrap;display: block;}
.topic-goods .tabs-panel ul li dl dd.goods-info .goods-price { width: 210px; height: 30px; line-height: 30px; font-size: 16px; font-weight: bold; text-align: left; margin: 0 auto;}
.topic-goods .tabs-panel ul li dl dd.goods-info .topic-add-cart{ width: 210px; height: 35px; line-height: 35px; color: #fff; text-align: center; margin: 0 auto; display: inline-block;}
.topic-goods .tabs-panel ul li:hover dl dd.goods-info .goods-name{ color: #fff;}
.topic-goods .tabs-panel ul li:hover dl dd.goods-info .goods-price { color: #fff;}
.topic-goods .tabs-panel ul li:hover dl dd.goods-info .topic-add-cart{ background-color: #fff;}

/***************横条广告***************/
.banner-ad{ width: 1210px; height: 100px; display: inline-block;}

/*************** 专题模板4 **********/
.topic-goods-border{ overflow: hidden; margin: 10px auto !important;}
.topic-goods-border .tabs-panel { width: 1210px; overflow: hidden;}
.topic-goods-border .tabs-panel ul { width: 1210px; padding: 15px 0px; overflow: hidden;}
.topic-goods-border .tabs-panel ul li { width: 230px; height: 305px; background-color: #fff; float: left; overflow: hidden; margin: 0px 0px 12px 12px; border-width: 1px; border-style: solid;}
.topic-goods-border.new-style-goods .tabs-panel ul li{ height: 325px; }
.topic-goods-border .tabs-panel ul li.first{ margin-left: 1px;}
.topic-goods-border .tabs-panel ul li dl { width: 230px; margin: 0 auto auto;}
.topic-goods-border .tabs-panel ul li dl dt.goods-thumb { width: 230px; height: 230px; position: relative;}
.topic-goods-border .tabs-panel ul li dl dt.goods-thumb a { text-align: center; vertical-align: middle; display: block; width: 230px; height: 230px; overflow: hidden;}
.topic-goods-border .tabs-panel ul li dl dt.goods-thumb img { max-width: 230px; max-height: 230px; }
.topic-goods-border .tabs-panel ul li dl dd.goods-info { width: 230px;height: 75px; border: none; overflow: hidden; text-align: center;}
.topic-goods-border.new-style-goods .tabs-panel ul li dl dd.goods-info{ height: 95px;padding: 0 10px; box-sizing: border-box; text-align: left;}
.topic-goods-border .tabs-panel ul li dl dd.goods-info .goods-name{ width: 210px; height: 20px; line-height: 20px; font-size: 14px; margin-top: 10px; text-align: left; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.topic-goods-border.new-style-goods .tabs-panel ul li dl dd.goods-info .goods-name{ height: 40px;white-space: normal;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;margin-bottom: 5px;}
.topic-goods-border.new-style-goods .tabs-panel ul li dl dd.goods-info .goods-name.beans-show{height: 20px;text-overflow: ellipsis;white-space: nowrap;display: block;}
.topic-goods-border .tabs-panel ul li dl dd.goods-info p{ width: 210px; height: 30px; line-height: 30px; margin: 0 auto; overflow: hidden;}
.topic-goods-border .tabs-panel ul li dl dd.goods-info p .goods-price { width: 120px; height: 30px; line-height: 30px; font-size: 16px; font-weight: bold; text-align: left; margin: 0 auto;}
.topic-goods-border .tabs-panel ul li dl dd.goods-info p .topic-add-cart{ width: 90px; height: 30px; line-height: 30px; color: #fff; text-align: center;  display: inline-block;}
.topic-goods-border .tabs-panel ul li dl dd.goods-info p .topic-add-cart:hover{ opacity: .8;}

/*文章模块*/
.article-box{ width: 1210px; margin: 0 auto;}
.feed-index { border:1px solid #eee; padding:20px 30px 30px;}
.feed-index h5 { font-weight:400; margin-bottom:20px; border-bottom:1px solid #eee; position: relative;}
.feed-index h5 span { font-size:15px; border-bottom:1px solid #cf000e; line-height:15px; padding:10px 0; position:relative; color:#333; bottom:-1px;}
.feed-index h5 span.i { padding-right:20px;}
.feed-index h5 span i { overflow:hidden; position:absolute; right:0; _top:9px; width:15px; height:15px; background:url(/mll/mpg/index/i/index.png) 0 -230px no-repeat; cursor:pointer;}
.feed-index h5 .more { font-size:12px; color:#aaa; line-height:36px;}
.feed-index .notice { width:361px; float: left;}
.feed-index .notice-spe{ margin: 0 32px;}
.feed-index .show { width:447px; margin:0 40px;}
.feed-index .query { width:240px;}
.feed-index .notice .article-list { width: 220px; height: 160px; margin-left:20px; line-height:26px; position: relative; display: inline-block; overflow: hidden;}
.feed-index .notice .article-list li a { color:#666;}
.feed-index .notice .article-img-box{ width:120px; height: 160px; position: relative;}
.feed-index .notice .article-img-box .article-img{ width: 120px; height: 160px; display: inline-block;}
.feed-index .notice .article-img-box img { width:120px; height:160px;}