@charset "utf-8";
.footer-nav ul li a.index-icon{height: 44px;width: 44px;background: url(../images/tab_index_bg.png);background-size: 44px;overflow: hidden;}
.footer-nav ul li a.index-icon em{ width:38px; height:38px; display:inline-block; border-radius:100%; z-index:-1; position:relative; top:3px;}
.footer-nav ul li a.index-icon:before,.footer-nav ul li a.index-icon:after{display: block;content:'';width:44px;height: 44px;position: absolute;transition: all .3s;}
.footer-nav ul li a.index-icon:before{background: url(../images/tab_index_icon.png);background-size: contain;transform: translate3d(0,0,0);}
.footer-nav ul li a.index-icon:after{background: url(../images/tab_gotop_icon.png);background-size: contain;transform: translate3d(0,44px,0);}
.footer-nav ul li a.tab-gotop-icon:before{transform: translate3d(0,-44px,0);}
.footer-nav ul li a.tab-gotop-icon:after{transform: translate3d(0,-38px,0);}