@charset "utf-8"; 
a,a:hover,a:active{ text-decoration: none;}
.row { margin-right: -10px; margin-left: -10px;}
.row.userLevel{margin-top:0px} 
.row > [class*="col-"] { padding: 0 10px;}

/*模块*/
.page .manage .module-content dl{ margin-bottom: 10px;}
.page .manage .module-content dl dt,.page .manage .module-content dl dd{ font-size: 12px; line-height: 20px; vertical-align: top;letter-spacing: normal; word-spacing: normal;display: inline-block; font-weight: normal;}
.page .manage .module-content dl dt { color: #888; width: 70px;}

/*图片*/
.page-handle{ overflow:hidden; border-bottom: 1px solid #E6E6E6;  clear:both;}
.album-intro { min-height: 72px; padding: 10px 10px 10px 60px;  position: relative; z-index: 1; overflow: hidden;}
.album-intro .album-name { font-size:14px; font-weight:bold; color: #27A9E3; height: 20px; margin-bottom: 2px; width:75%;}
.album-intro .album-covers {line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; width: 48px; height: 48px; border: 1px solid #E6E6E6;overflow: hidden; position: absolute; z-index: 1; top: 12px;left: 0px;}
.album-intro .album-covers i { font-size: 24px; line-height: 48px;color: #DDD;}
.album-intro .album-info { font-size:12px; color: #999; height: 30px; overflow: hidden; }

/*图片列表*/
.picture-title{line-height: 22px; overflow:hidden; padding: 0px 0px 10px; border-bottom: 1px solid #E6E6E6}
.picture .icon-quote{ width:28px; height:28px; text-align:center; position:absolute; top:8px; right:8px; border-radius:99%; color:#fff; background:#FF9900;display:inline-block; margin:auto; line-height:28px; font: 12px/28px Verdana;}
.picture-list li dl dt .editInput {font-size: 12px; font-weight: bold; line-height: 20px; color: #555; background-color: transparent;  width: 140px; height: 20px;  border: 0px none; position: absolute;  z-index: 1;top: 140px;cursor:pointer}
.picture-list li dl dt .editInput[type="text"]:hover,.picture-list li dl dt .editInput[type="text"]:focus{box-shadow:none}
@media (min-width:480px){.picture-list li dl dt .editInput{top: 165px;}}
@media (min-width:768px){.picture-list li dl dt .editInput{top: 165px;}}	
@media (min-width:992px){.picture-list li dl dt .editInput{top: 205px;}}	
@media (min-width:1100px){.picture-list li dl dt .editInput{top: 205px;}}	
@media (min-width:1200px){.picture-list li dl dt .editInput{top: 215px;}}
.picture-list li dl dt span {font-size: 12px; line-height: 16px;vertical-align: middle; text-align: center; width: 16px; height: 16px; position: absolute;z-index: 2; top: 142px; right: 8px;cursor:pointer}
@media (min-width:480px){.picture-list li dl dt span{top: 167px; right: 10px;}}
@media (min-width:768px){.picture-list li dl dt span{top: 167px;right: 17px;}}	
@media (min-width:992px){.picture-list li dl dt span{top: 207px;right: 17px;}}	
@media (min-width:1100px){.picture-list li dl dt span{top: 207px;right:20px;}}	
.picture-list li dl dt span i{ margin:0;}
.picture-list .field li dl dd.date { font-size: 12px; line-height: 22px; color: #999; width: 160px; height: 60px; position: absolute; z-index: 3; top: 170px; left: 8px; padding: 0px 0px 0px 8px;}
@media (min-width:480px){.picture-list .field li dl dd.date{ top: 190px;}}
@media (min-width:768px){.picture-list .field li dl dd.date{ top: 190px;}}	
@media (min-width:992px){.picture-list .field li dl dd.date{ top: 230px;}}	
@media (min-width:1100px){.picture-list .field li dl dd.date{ top: 230px;}}	
@media (min-width:1200px){.picture-list .field li dl dd.date{ top: 225px;left: 50%;margin-left: -96px;}}
.picture-list li dl dd.buttons {font-size: 0px; display: none; width: 120px; height: 50px;  padding: 0px; position: absolute;top: 170px;left: 18px; z-index: 3;}
@media (min-width:480px){.picture-list li dl dd.buttons{width: 140px; top: 190px;}}
@media (min-width:768px){.picture-list li dl dd.buttons{width: 153px;top: 190px;}}	
@media (min-width:992px){.picture-list li dl dd.buttons{width: 170px;top: 230px;}}	
@media (min-width:1100px){.picture-list li dl dd.buttons{width: 180px;top: 230px;}}	
@media (min-width:1200px){.picture-list li dl dd.buttons{width:213px;top: 225px;position:absolute;left: 50%;margin-left: -88px;}}
.picture-list li dl dd.buttons a { font-size: 12px; line-height: 16px; color: #999; background-color: #FFF; vertical-align: top;letter-spacing: normal; word-spacing: normal; display: inline-block; width: 40%;  padding: 2px 6px; margin: 0px 5px 5px 0px; border-radius: 2px;}
.picture-list li dl dd.buttons a:nth-last-child(1),.picture-list li dl dd.buttons a:nth-last-child(3){ margin-right:0px;} 
.picture-list li dl dd.buttons a i{ display:none}
@media (min-width:480px){.picture-list li dl dd.buttons a i{ display:none}}
@media (min-width:768px){.picture-list li dl dd.buttons a i{ display:inline-block}}	
@media (min-width:992px){.picture-list li dl dd.buttons a i{ display:inline-block}}	
@media (min-width:1100px){.picture-list li dl dd.buttons a i{ display:inline-block}}	
@media (min-width:1200px){.picture-list li dl dd.buttons a i{display:inline-block}}
.picture-list li dl dd a:hover {text-decoration: none; color: #27A9E3; box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75);}
.picture-list li:hover .buttons,.picture-list li.active .buttons{ display:block}
.picture-list li:hover .date,.picture-list li.active .date{ display:none;}
/*box*/
.picture-list .box li dl dt h3 { font-size: 14px; font-weight: lighter; line-height: 20px; color: #555; white-space: nowrap;  height: 20px;  margin: 7px auto; overflow: hidden;}
.picture-list .box li dl dt h3 a {color: #2589FF;}
.picture-list .box li dl dd.date{ top:200px; display:block; left:8px;font-size: 13px; width:175px;}
@media (min-width:480px){.picture-list .box li dl dd.date{ top:200px;}}
@media (min-width:768px){.picture-list .box li dl dd.date{ top:200px;}}	
@media (min-width:992px){.picture-list .box li dl dd.date{ top:230px;}}	
@media (min-width:1200px){.picture-list .box li dl dd.date{ top:230px;left: 22px;}}
.picture-list .box li dl dd.buttons{ top:255px;}
@media (min-width:1200px){.picture-list .box li dl dd.buttons{left: 22px;}}
.picture-list .box li dl dd.buttons,.picture-list .box li dl dd.date{ position:absolute; left:50%; margin-left:-90px; padding:0;}
.picture-list li dl dd a:hover{color: #2589FF !important;}
/*图片上传按钮*/
.modal-path{ margin-bottom:10px; line-height:32px;}
.uploadBox{ width:150px; height:150px; margin:auto; border:1px dashed #eee; text-align:center; cursor:pointer; position:relative; margin-bottom:10px;}
.uploadBox i{ font-size:62px; margin:auto; color:#e5e5e5;line-height: 162px;}
@media (min-width:1200px){.picture-list li{ width:20%;height: 285px;}.picture-list li dl dt { width: 174px;height: 174px;}}
@media (min-width:1200px){.picture-list li:hover dl{width: 101%; height:286px}.picture-list li.active dl {width: 100.8%;height:316px}.picture-list li dl dt .picture a img { max-width:175px; max-height:175px;}}
#page_table tfoot tr td{ border-bottom:none;} 
.picture-list li dl dt label {width: 150px;}

/********图片详情样式*******/
/*相册修改*/
.carousel-indicators {position:static;left:auto;width: auto;padding-left:auto;margin-left:auto;}
.carousel-indicators li {width: auto;height:auto;margin:auto;text-indent: 0;border-radius: 0;}
.carousel-indicators .active {width: auto;height: auto;margin: 0px 11px 0px 0px;}

/*缩略图*/
.page .slide .ad-nav { width: 96%; padding: 15px 13px; margin: 0px auto; position: relative; z-index: 1;}
.ad-forward,  .ad-back {height: 100%;position: absolute; top: 15px; z-index: 10;text-align:center;height:94px;overflow:hidden;}
.ad-back {display: block; width: 17px; left: -20px; cursor: pointer;}
.ad-forward { display: block;  width: 17px;right: -20px; cursor: pointer;}
.ad-back i,.ad-forward i{ margin:auto; line-height: 94px; color:#CCCCCC;width: 100%;height: 100%; display:block;}
.ad-thumbs {width: 100%; overflow: hidden;}
.ad-thumbs .ad-thumb-list {list-style: outside none none;width: 9000px; height: 96px; float: left;}
.ad-thumbs li { display: inline;width: 94px;height: 94px; float: left;margin: 0px 11px 0px 0px;overflow: hidden; border:1px solid #fff;}
.ad-thumbs li a { line-height: 0; background-color: #FFF; text-align: center;vertical-align: middle; display: table-cell; width: 90px;height: 90px;  margin: 1px; border: 1px solid #F5F5F5;overflow: hidden;}
.ad-thumbs li.active { border:none;}
.ad-thumbs li.active a{border: 2px solid #09F;margin: 0px;}
.ad-thumbs li a img, .ad-gallery .ad-thumbs li a.ad-active img { max-width: 90px; max-height: 90px;}

/*大图*/
.ad-image-wrapper { width: 100%; height: 280px; float: left; border: 3px solid #E7E7E7; position: relative; z-index: 1;overflow: hidden;margin-left:0px;}
@media (min-width:480px){.ad-image-wrapper{width:50%; height: 280px;margin-left:0px;}}
@media (min-width:768px){.ad-image-wrapper{width:50%; height: 390px;margin-left:30px;}}	
@media (min-width:992px){.ad-image-wrapper{width: 680px; height: 680px; margin-left:36px;}}		
@media (min-width:1200px){.ad-image-wrapper{width: 680px; height: 680px;margin-left: 36px;}}
.ad-image-wrapper .ad-image { position: absolute; z-index: 9;  top: 0px;left: 0px; overflow: hidden;}
.ad-image-wrapper .item img{ width:100%; height:100%;}
.ad-image-wrapper .ad-prev .ad-prev-image, .ad-image-wrapper .ad-next .ad-next-image { display:none; width: 30px; height: 30px;  position: absolute; top: 47%; left: 0px;  z-index: 101;}
.ad-image-wrapper .item .carousel-caption { color: #000;text-align:left;width: 100%;padding:7px; position:absolute;z-index: 2;bottom: 10px; left: 0px;text-shadow:none;font-weight: bold;}
.carousel-control.left,.carousel-control.right {background:none !important; background-image:none !important;filter:none !important;}
.carousel-control.left span,.carousel-control.right span{color:#000;opacity:0.2}

/*详细信息*/
.ad-image-date{float: right;margin-right: 0px; width:100%}
@media (min-width:480px){.ad-image-date{margin-right:2%; width:42%;}}
@media (min-width:768px){.ad-image-date{margin-right:80px;width: 240px;}}	
@media (min-width:992px){.ad-image-date{margin-right:100px;width: 240px;}}		
@media (min-width:1200px){.ad-image-date{margin-right: 100px;width: 240px;}}
.ad-image-date dt {line-height: 20px; font-weight: 600; color: #555; width: 100%; float: left; border-bottom: 1px solid #E7E7E7; font-size: 13px; padding: 5px 0px;}
.ad-image-date dd {color: #999; float: left; width: 100%;padding: 5px 0px 25px;}
.ad-image-date dd p { line-height: 20px; display: block; width: 100%; clear: both; padding-top: 4px; padding-bottom: 4px;}
.ad-image-date dd p b {font-weight: normal; text-align: right; color: #555;float: left;}
/*******图片详情end********/

/*水印位置样式*/
.watermark-pos { font-size: 0px;  background-color: #FFF; width: 183px; height: 183px; padding: 0px; margin: 0px;  border-style: solid; border-color: #E6E6E6; -moz-border-top-colors: none;-moz-border-right-colors: none; -moz-border-bottom-colors: none;  -moz-border-left-colors: none;  border-image: none; border-width: 1px 1px 0px 0px; box-shadow: 3px 3px 0px rgba(153, 153, 153, 0.25); position: relative; z-index: 1;}
.watermark-pos li { vertical-align: top; letter-spacing: normal; word-spacing: normal;  display: inline-block;  width: 33.33%;  height: 33.33%; border-style: solid; border-color: #E6E6E6; -moz-border-top-colors: none; -moz-border-right-colors: none;-moz-border-bottom-colors: none;  -moz-border-left-colors: none;  border-image: none; border-width: 0px 0px 1px 1px;}
.watermark-pos label {font-size: 14px; line-height: 40px; color: #CCC;text-align: center; vertical-align: middle;  display: block; width: 60px; height: 60px; cursor: pointer;}
.watermark-pos label input{ display:none !important}
.watermark-pos li label.active,.watermark-pos li:hover label.active  { font-weight: 600;  color: #27A9E3; background-color: #E6E6E6;  width: 60px; height: 60px; border-radius:0px; box-shadow:none;}
.watermark-pos li:hover{ background:#fafafa;}.watermark-pos li:hover label{ color:#999;}

/************************会员模块***********************/
.userLevel .panel dl dt,.userLevel .panel dl dd{ display:block; clear:both;  font-size:12px;font-weight:normal; overflow:hidden}
.userLevel .panel dl dt{ color:#999; line-height:18px; padding:5px 0px;}
.userLevel .panel dl dd{ padding:15px 0px; overflow:hidden;line-height:32px;color:#666; border-top:1px solid #eee}
.text-title{ margin-right:5px;  display:inline-block}

/*选择赠品*/
.form-goods-gift .goods-pic, .form-goods-gift .goods-summary, .form-goods-gift .goods-summary dt, .form-goods-gift .goods-summary dd, .form-goods-gift .goods-summary li { font-size: 12px; vertical-align: top; letter-spacing: normal;word-spacing: normal; display: inline-block; *display: inline; *zoom: 1;}	
.form-goods-gift{margin-bottom: 10px; border: solid 1px #E6E6E6;padding: 15px;}
.form-goods-gift:hover{ border:1px solid #ddd; box-shadow:0 0 10px #CCC}
.form-goods-gift .goods-pic { width: 160px; height: 160px; margin-right:20px; margin-left:0px;}  
.form-goods-gift .goods-pic span {line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; overflow: hidden;}
.form-goods-gift .goods-pic span img {max-width: 160px; max-height: 160px;}
.form-goods-gift .goods-summary { width: 740px;}
.form-goods-gift .goods-summary h2 { font: 600 14px/20px "microsoft yahei";color: #333; display: block; margin-bottom: 10px;}
.form-goods-gift .goods-summary h2 em { font-size: 14px; color: #27a9e3; margin-left: 10px; font-style:normal; font-weight:200}
.form-goods-gift .goods-summary dl { border: none; margin-bottom: 5px; display:block;line-height: 20px;}
.form-goods-gift .goods-summary dt { color: #999; width: 9%; font-weight:100; float:left;}
.form-goods-gift .goods-summary dd { width: 91%;}  
.form-goods-gift .goods-summary #calculate_result > div {float: left; display: inline-block; width: 50%; margin-bottom: 5px;}
.form-goods-gift .goods-gift-list { margin: 0; border: 0;}
.goods-gift-list li { background-color: #fcf8e3; display: inline-block; width: 300px; height:auto; min-height:43px; border: solid 1px #fbeed5; position: relative; z-index: 1; margin: 0 10px 10px 0;}
.goods-gift-list li:hover{ border: solid 1px #F7DCAA;}
.goods-gift-list li .pic-thumb { width: 40px; height: 40px; padding: 4px; float: left; display:inline-block}
.goods-gift-list li .pic-thumb span { line-height: 0; background-color: #FFF; text-align: center;vertical-align: middle; display: table-cell; *display: block; width: 32px; height: 32px; overflow: hidden;}
.goods-gift-list li .pic-thumb span img { max-width: 32px; max-height: 32px;}
.goods-gift-list li dl { width: 240px; height: auto; float: left; margin: 0 0 2px 4px !important;}
.goods-gift-list li dt { color: #c09853 !important; font-weight: 200; text-overflow: ellipsis; white-space: nowrap; display: block; width: 240px !important; height: 20px; overflow: hidden;}
.goods-gift-list li dt.name-all{height: 40px;white-space: normal;padding-top: 3px;}
.goods-gift-list li dd {color: #c09853;display: block;}
.goods-gift-list li dd .text { width: 40px !important; height: 18px; padding: 0 2px;}
.goods-gift-list li .gift-del,a.gift-del { font: 200 14px/16px Arial;color: #FFF;background-color: #F30;text-align: center;width: 16px;height: 16px;position: absolute;z-index: 1;right: -8px;top: -8px;border-radius: 99%;/*transform: scale(0);opacity: 0;*/transform-origin: 50% 0% 0px;transition: all 300ms ease-in-out 0s; z-index:2;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);}
#goods-gift,.goods-picker-container{ position:relative;}
.goods-picker-container .form-group{ margin:0;}
#goods-gift a.gift-del{ width:26px; height:26px;font: 200 24px/26px Arial; right:5px;}



/**************新外框.style-seller对内容样式调节**************/
.style-seller .page{ padding-bottom: 0px; position: relative;}
.style-seller .fixed-bar { left: 210px; right: 0px; width: auto; min-width: 1030px; padding: 0;}
/*温馨提示*/
.style-seller .explanation {color: #BA8941; background: #ffc; padding: 15px; border: 1px solid #fc6; display: block; width: 100%; position: relative; overflow: hidden; border-radius:0px;}
.style-seller .explanation .title { display: none; white-space: nowrap; margin-bottom: 5px; position: relative; cursor: pointer; height:26px; line-height:26px;margin-left: 5px; }
.style-seller .explanation .title h4 {font-size: 14px;font-weight:bold;line-height: 20px; height: 20px; display: inline-block; }
.style-seller .explanation .title i { font-size: 16px; vertical-align: middle; margin-right: 6px; }
.style-seller .explanation .title i.arrow-icon{ display: none;}
.style-seller .explanation ul{padding-left: 0px; margin: 0;}
.style-seller .explanation li { list-style: none; line-height: 16px;  padding-left: 10px; margin-bottom: 4px; }
.style-seller .explanation li span{color: #333;}
.style-seller .explanation li:last-child{ margin-bottom: 0;}
/*搜索样式*/
.style-seller .search-term {border:none;}

/*分页*/
.style-seller .pagination li.active a,.style-seller .pagination li.active span { background-color: #2589FF; border: 1px solid #137DFF; margin-left: -1px;color: #fff;}
.style-seller .pagination li a:hover { background-color:#137DFF ; border-color: #0073FF ;color: #fff;}

/*按钮样式*/
.style-seller .btn{ border-radius: 2px;}
.style-seller .btn-current{border-color: #2589FF; color: #2589FF; background: #Fff;}
.style-seller .btn-current:hover{ border-color: #137DFF; color: #137DFF;}
.style-seller .btn-danger {background: #FF6262; border-color: #FF5B5B;}
.style-seller .btn-danger:hover,.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus,.btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover,.btn-danger.focus,.btn-danger:focus{background: #FF5B5B; border-color: #FF6262;}
.style-seller .btn-primary{background:#2589FF; border-color: #137DFF; color: #fff;}
.style-seller .btn-primary:hover,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,.btn-primary.focus, .btn-primary:focus  {color: #fff;background-color:#137DFF;border-color:#0073FF}
.style-seller .dropdown-menu > li > a:hover{ background:#2589FF;}
/*文本框*/
input[type="text"]:focus, input[type="text"]:hover, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:hover, input[type="password"]:active, textarea.form-control:hover, textarea.form-control:focus, textarea.form-control:active,select:hover, select.form-control:hover, select.form-control:focus, select.form-control:active,select.render-selector:hover,select.render-selector:focus, .input-file-show:hover, .input-file-show:focus, .input-file-show:active, .file-attach-1:focus, .file-attach-1:hover, .file-attach-1:active {border-color: #2589FF;box-shadow: 0 0 0 2px rgba(37, 137, 255, 0.15);}
.modal-body .choose-goods-list .form-control{ width:auto !important} 
input.form-control:focus,input.form-control:hover{ border-color: #2589FF !important; box-shadow: 0 0 0 2px rgba(37, 137, 255, 0.15) !important;}

/*表格样式*/
.table tbody tr td a{ color:#666;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border-color:#e9e9e9;}
.table-hover>tbody>tr:hover {background:#F7FDFA;border-color: transparent;border-bottom: 1px solid #CEF4E8;}
.table tbody tr td.no-data{ color:#1ABB9C;background: #fff;}
.table.treeTable{ margin-top: 0px;}

/*其它*/
.style-seller .goods-message div a:hover,.style-seller .goods-message div a.hover,.style-seller .goods-message div.active div.goods-mobile.open a,.style-seller .goods-message div.active div.goods-mobile.open a:hover {color:#2589FF;}
.style-seller .popover-box:hover .qrcode{color:#333;} 
.style-seller .order-hd {background: #F8F8F8 !important;}
.style-seller .order-item td.order-price,.style-seller  .order-item td.contact, .style-seller .order-item td.trade-status, .style-seller .order-item td.remark,.style-seller  .order-item td.order-type { border-left: 1px solid #e9e9e9;border-right: 1px solid #e9e9e9;}
.style-seller .selector-set a,.style-seller  .selector-set i { color:#1ABB9C;}
.style-seller .selector-set a:hover,.style-seller  .selector-set a:hover i {border-color: #1ABB9C;}
.style-seller .selector-set a:hover i {background:#1ABB9C;}
.style-seller .modal .modal-body .choose-goods-list .tabmenu .active a{ border-top:0px; border-left:0px; border-right:0px; border-bottom: solid 2px #1ABC9C !important; margin-top:0px;}
.style-seller .release-activity-type ul li:hover{border: 1px solid #1ABC9C; box-shadow: 0 0 0 2px rgba(26, 188, 156, 0.15);}
.style-seller .pagination-goto .form-control.ipt{ width: 40px !important;}
/*item tab*/
.style-seller .item-list-hd ul{border-color: #e5e5e5;}
.style-seller .item-list-hd ul li.current{ padding: 8px 5px 6px 5px; border-color: #e5e5e5; border-top: 1px solid #e5e5e5;}
.style-seller .item-list-hd ul li{background: #F8F8F8; min-width: 90px; border-color: #e5e5e5;}
.style-seller .item-list-hd ul li:hover a,.style-seller .item-list-hd ul li.current a,.style-seller .item-list-hd ul li.active a {color: #333 !important;}
.style-seller .item-list-hd ul li:first-child{ border-top-left-radius: 4px;}
.style-seller .item-list-hd ul li:last-child { border-top-right-radius: 4px;}

/*chosen搜索*/
.style-seller .chosen-container-single .chosen-search input[type="text"],.style-seller .chosen-container .chosen-choices:hover, .style-seller .chosen-container-single .chosen-single:hover{border-color: #2589FF !important;box-shadow: 0 0 0 2px rgba(37, 137, 255, 0.15) !important;}
.style-seller .table-content .form-group .search-condition .chosen-container {width: 150px !important;}
.style-seller .chosen-container .chosen-results li.highlighted { background: #2589FF !important;}
/*带删除chosen*/
.style-seller .table-content .form-group .choosen-select-box .choosen-select-item{ border:1px solid #17A88B; width:230px; float:left; margin:2px; display:inline-block;background:#1ABC9C;}
.style-seller .table-content .form-group .choosen-select-box .choosen-select-item .chosen-container{ width:200px !important;  float:left; display:inline-block; border:0;}
.style-seller .table-content .form-group .choosen-select-box .choosen-select-item .chosen-container-single .chosen-single,.style-seller .table-content .form-group .choosen-select-box .choosen-select-item .chosen-container-single .chosen-single:hover,.style-seller .table-content .form-group .choosen-select-box .choosen-select-item .chosen-container-single .chosen-single:active { border:0 !important; box-shadow:none !important}
.style-seller .table-content .form-group .choosen-select-box .choosen-select-item .choosen-select-delete{ cursor:pointer; color:#fff; background:#1ABC9C; width:28px; line-height:30px; display:inline-block; text-align:center; font-size:15px;}

/*上传*/
.style-seller .input-file-show:hover span.show a,.style-seller .input-file-show span.show a:hover,.style-seller .input-file-show.active span.show a { color: #1ABB9C;}
.style-seller .input-file-show:hover .type-file-button,.style-seller .input-file-show.active .type-file-button{background-color: #1ABB9C; }
/*字体与开关*/
.style-seller .c-blue,.style-seller .warning-option{ color: #2589FF !important;}
.style-seller .ico-switch.open,.style-seller .ico-switch.open i,{ color: #4BCA00 !important;}
.style-seller .bootstrap-switch.bootstrap-switch-wrapper,.style-seller .bootstrap-switch.bootstrap-switch-focused, .style-seller .bootstrap-switch.bootstrap-switch-on {border: 1px solid #17A88B;}
.style-seller .bootstrap-switch.bootstrap-switch-off { border: 1px solid #aaaaaa !important;}
.style-seller .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,.style-seller .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {background-color: #1ABB9C; border-color: #17A88B;}

/**/
.top-btn{position: absolute;z-index: 1;top: -2px;right: 0px;}
.style-seller .choose-goods-list .tabmenu .tab .active a,.style-seller .choose-goods-list .tabmenu .tab .active a:hover,.style-seller #logistics .tab .active a,.style-seller #logistics .style-seller .tab .active a:hover{ margin-top:-1px !important}

/*选中样式*/
.datetimepicker table tr td.active,.datetimepicker table tr td span.active{ background:#2589FF !important;}

/*原版*/
.style-seller .main-div-title span{ border-color:#22BAA0}
.style-seller .file-attach-1:hover{background: #1ABC9C;border-color: #17A88B;}
.style-seller .fixed-bar .item-title {border-bottom: solid 1px #ededed; height: 50px; padding: 0 15px; margin: 0;}
.style-seller .item-title h3 span.action{ padding: 6px 0;}
.style-seller .item-title .subject,.style-seller .tab-base li,.style-seller .tab-base a{ height: 100%;}
.style-seller .item-title .subject h3{line-height: 36px; height: 50px;}
.style-seller .item-title .subject h5{margin-top: 12px;}
.style-seller .tab-base { top:2px; margin-left: 0;}
.style-seller .tab-base a { background: none; border: none; padding: 0px 20px; line-height: 46px; color:#555; font-size: 14px;}
.style-seller .tab-base a.current,.style-seller .tab-base a.current:hover { font-weight: 400; background: none; border: none; color:#2589FF; }
.style-seller .tab-base a.current::after { border-bottom: 2px solid #2589FF; color: #333; content: ""; display: block; margin: 0; }
.style-seller .tabmenu .tab .active a,.style-seller .tabmenu .tab .active a:hover{ color: #2589FF; border-bottom: 2px solid #2589FF}
.style-seller .ico-switch i { font-size:26px;}
.style-seller .table{ border-color: #eee;}
.style-seller .table thead tr th { border-bottom: 1px solid #eee; background-color: #F9FAFA; font-family:'微软雅黑'; font-size:13px; color:#333;}
.style-seller .table tbody tr td {font-family:'微软雅黑'; color:#666;}
.style-seller .table thead tr th.handle,.style-seller .table tr td.handle{ text-align:center}
.style-seller .table tbody tr:hover td{ background: #F9FCFF}
.style-seller .table tr td.handle > a { padding: 2px 8px; cursor: pointer; display: inline-block; background-color: #fff;border: 1px solid #ddd; color:#666; margin:1px;}
.style-seller .table tr td.handle.text-l font a{ border:none; background:none;}
.style-seller .table tr td.handle > a:hover,.style-seller .table tr td.handle > a.active{box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); background-color:#2589FF; border-color:#137DFF; color:#fff;}
.style-seller .table tr td.handle >  a.del:hover,.style-seller .table tr td.handle > a.end:hover {background: #FF6262; border-color: #FF5B5B; color:#fff;}
.style-seller .table tr td.handle >  a.disabled,.style-seller  .table tr td.handle >  a.disabled:hover { background:none; box-shadow:none;color:#bbb;border-color: #ddd;}
.style-seller .table tr td.handle > span { display:none;}
.style-seller .table tr td.handle > span.text-r{ text-align:center !important}
.style-seller .search-term{ background:#F8F8F8}
.style-seller .search-term .simple-form-field .btn{letter-spacing: 0;text-indent: 0;}
.style-seller .search-term .simple-form-field .btn.btn-default{ color: #333; background: #fff;}
.style-seller .search-term .simple-form-field .btn.btn-default:hover{ border-color: #2589FF; color: #2589FF;}
.style-seller .search-term .simple-form-field .btn-link{ color: #2589FF;}
.style-seller .search-term .simple-form-field .btn-link:hover{ color: #137DFF;}
.style-seller .content .goods-info-two h5,.style-seller  .table-content h5,.style-seller h5.model-title{ margin: 10px auto; padding:12px 15px !important;background-color: #f8f8f8 !important;height: 44px !important;color: #333;line-height: 18px; border: none !important;}
.style-seller .content .goods-info-two h5::before,.style-seller .table-content h5::before,.style-seller h5.model-title::before { content: ""; display: inline-block;  width: 3px; height: 12px; position: relative;top: 1px; background: #f60; margin-right: 5px;}
.style-seller .table-content > h5.m-t-0{ margin-top:-20px !important;}
.style-seller .table-content .form-group label.col-sm-3.control-label,.style-seller .table-content .form-group label.col-sm-4.control-label{ font-size: 13px; padding-top: 6px;}
.style-seller .table-content .simple-form-field:last-of-type .btn.btn-primary,.style-seller .table-content .simple-form-field:last-of-type .btn.btn-default {padding: 8px 16px;font-size: 12px;border-radius: 2px;line-height: 14px;}
.style-seller .layui-layer-btn a.layui-layer-btn0,.style-seller .layui-layer-btn a.layui-layer-btn0:hover{background:#1AB596;border-color:#17A88B; line-height:26px;}
.style-seller #sku_table_container table thead th .text-danger { line-height:14px;}
.style-seller .goods-next.goods-btn-fixed,.style-seller .bottom-btn.bottom-btn-fixed { width: auto; left: 210px; margin: 0;}
.style-seller .import-type-box .type-nav{border-bottom: 2px solid #1ABB9C; }
.style-seller .import-type-box .type-nav ul li.selected a{background: #1ABB9C;border-color: #1ABB9C;}
.style-seller .btn-group .btn.active{ background: #2589FF;border-color: #0073FF; color:#fff;}
.style-seller .cat_name{ font-size: 13px;}
.style-seller .goods-message div.active div.QR-code .code-info a{ color: #2589FF;}
.style-seller .sort-edit{ font-size: 14px;}
.style-seller .release-activity-type ul{padding: 0px;}
/*添加拼团*/
.fight-group-pic img { width: 32px; height: 32px; border: 1px solid #eee; vertical-align: top; margin-right: 5px;}

/*店铺商品分类数量去掉边框*/
.style-seller .table tr td.handle.text-l font a{ border:none; background:none;}
.style-seller .table tr td.handle.text-l font a.disabled:hover {background: #6DD26A;}

/*客户分析*/
.style-seller .group-region-small{ width: 252px;}
.style-seller .group-region .group-region-btn{background: #22BAA0;}
.style-seller .group-region:hover,.group-region-small:hover{ border-color:#22BAA0}

.style-seller .goods-message div.name{ font-size: 13px;}
.style-seller .goods-message .name label{ font-size: 11px;}
.style-seller .goods-message .name .goods_name_controller{ visibility: hidden; display: inline-block;}
.style-seller .table tbody tr:hover .goods-message .name .goods_name_controller{ visibility: visible;}
.style-seller .item-title h3 { font-size: 15px;}

/*添加红包类型*/
.style-seller .promotion-content{ margin-top: 5px; display: flex; flex-wrap: wrap;}
.style-seller .promotion-item{ height: 218px;box-sizing: border-box; padding: 30px; position: relative; background-color: #eff3ff; width: 49.5%;margin-bottom: 10px;}
.style-seller .promotion-item.bg1{background-color: #eff3ff;}
.style-seller .promotion-item.bg1 .promotion-img i{ color: #CDD5ED;}
.style-seller .promotion-item.bg2{background-color: #fff6f6;}
.style-seller .promotion-item.bg2 .promotion-img i{ color: #FFC8C8;}
.style-seller .promotion-item.bg4{background-color: #e7f9f0;}
.style-seller .promotion-item.bg4 .promotion-img i{ color: #9EE0BF;}
.style-seller .promotion-item.bg10{background-color:#ecf8fe;}
.style-seller .promotion-item.bg10 .promotion-img i{ color: #A9D9EF;}
.style-seller .promotion-item.bg5{background-color: #fff9e8}
.style-seller .promotion-item.bg5 .promotion-img i{ color: #FFE6A1;}
.style-seller .promotion-item.bg6{background-color: #EEFFFF;}
.style-seller .promotion-item.bg6 .promotion-img i{ color: #9FFFFF;}
.style-seller .promotion-item.bg7{background-color: #FFF9F2;}
.style-seller .promotion-item.bg7 .promotion-img i{ color: #FFDCB0;}
.style-seller .promotion-item.bg3{background-color: #fff6f6;}
.style-seller .promotion-item.bg3 .promotion-img i{ color: #FFBFFF;}
.style-seller .promotion-content > div:nth-child(2n+1) { margin-right: 1%;}
.style-seller .promotion-item h1{color: #333; font-size: 20px; margin-bottom: 20px;}
.style-seller .promotion-item p{color: #333; font-size: 14px; line-height: 20px;}
.style-seller .promotion-item .promotion-img{ width: 66px; height: 57px; position: absolute; right: 30px; bottom: 30px; display: block;}
.style-seller .promotion-item .promotion-img i{ font-size: 65px; opacity: 0.6;}
.style-seller .promotion-item a.btn{position: absolute; left: 30px; bottom: 30px; height: 36px; line-height: 34px; padding: 0 30px; font-size: 14px;}

/*底部*/
.style-seller .footer  a.logo-bg{ display: none;}
.style-seller .footer  .copyright{ padding: 0;}

/*报错页面*/
.backend-error-box{ top: 40%;}
.backend-error-box .error-img-box{background: url(../images/common/backend-error-img2.png) no-repeat center center; width: 245px; height: 245px;}
.backend-error-box .error-tit-box h5{font-size: 22px; color: #5A6169; font-weight: 200;} 
.backend-error-box .error-tit-box p { display: block; font-size: 14px; color: #777; width:450px; margin: 12px auto 0px;}
.backend-error-box a.back-btn{background: #2589ff; font-size: 13px; border-radius: 2px; padding: 6px 52px; border: 1px solid #1E83FF;}
.backend-error-box a.back-btn:hover {background: #0F7BFF; border-color: #1A81FF; }

/*帮助中心*/
.help-container,.help-container.fold{position:fixed; top: 0px; right: 0; bottom: 0; width: 200px; height:100%; min-height: 600px; background: #fff;border-left: 1px solid #e5e5e5; transition: 0.5s; z-index: 129;}
.help-container.unfold{ right:-200px; transition: 0.5s;}
.help-container .help-container-head { line-height: 50px; height: 50px; padding: 0 20px; border-bottom: 1px solid #f5f5f5; color:#333;}
.help-container .help-container-body{padding: 10px 10px 60px; }
.help-container .help-body-title { color: #333; border-left: 2px solid #3283FA; padding-left: 8px; padding-right: 10px; line-height: 12px; margin: 10px 0;}
.help-container .help-body-content { padding: 10px;width: 100%; margin-bottom: -20px; max-height:340px; overflow-y:auto;}
.help-container .help-body-content h5,.help-container .help-body-content p { font-size:12px; margin-bottom: 0.5em; line-height: 1.8em;}
.help-container .help-body-content h5{ color:#333;}
.help-container .help-body-content p{ color:#999;}
.help-container  a.help-href{ color:#38f}
.help-container  a.help-href:hover{ color:#07d}
.help-container .help-body-split-line { border-top: 1px solid #e5e5e5; margin: 20px 10px;}
.help-container .help-body-service{position: relative; padding: 20px; background-color: #f8f8f8; border-radius: 2px; display: block; color: #666;}
.help-container .help-body-service .service-avatar{ float:left; margin-right:10px; width: 44px; height: 44px; border-radius: 50%; display: inline-block; background:url(../images/admin.jpg) no-repeat center center; background-size: 100%;}
.help-container .help-body-service .service-name { color: #333; font-size: 16px; line-height: 1em; margin-bottom: 5px; margin-top: 5px;}
.help-body-service .popover-box{ width:190px; left: -200px !important; top: 10px;}
.help-body-service .popover-box h4{ margin-bottom:10px; font-size:16px;}
.help-body-service .popover-box p{ line-height:18px; color:#999; margin-top:3px;}
.help-body-service:hover .popover-box{ display:block;}
.help-icon-handle{height: 90px; width: 25px; position: absolute; left: -25px; top: 50%; margin-top:-40px; padding: 10px 4px; font-size: 12px; text-align: center;color: #fff; background: #2589FF;  z-index: 12; border-top: 1px solid #2589FF; border-left: 1px solid #2589FF; border-bottom: 1px solid #2589FF;  border-top-left-radius: 0.8em; border-bottom-left-radius: 0.8em; cursor: pointer;}
.help-icon-handle:hover{ border-color:#2589FF}

/*弹框样式（自己写的）*/
.popover-por .popover-box{position: absolute; display: none; left: 50%;border-radius: 2px; z-index: 18;-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
box-shadow: 0px 1px 6px rgba(0,0,0,0.2);}
.QR-code.popover-box{display:block;box-shadow:none; left: 0px;}
.popover-box .popover-tip{ height:20px;position: absolute; width:100%; top: -18px;}
.popover-box.top-left .popover-tip,.popover-box.top-center .popover-tip,.popover-box.top-right .popover-tip{ top:-18px; bottom:auto;}
.popover-box.bottom-left .popover-tip,.popover-box.bottom-center .popover-tip,.popover-box.bottom-right .popover-tip{ top: auto; bottom: -18px;}
.popover-box.left-top .popover-tip,.popover-box.left-center .popover-tip,.popover-box.left-bottom .popover-tip{ top: 0px; width: 20px; height: 100%; left:-18px;}
.popover-box.right-top .popover-tip,.popover-box.right-center .popover-tip,.popover-box.right-bottom .popover-tip{ top: 0px; width: 20px; height: 100%; right: -18px;}
.popover-box .popover-inner{position: relative; background: #fff; border-radius: 2px; padding: 10px 20px; color: #333; z-index: 2;}
.popover-box .arrow{position: absolute; box-shadow: 0 1px 4px rgba(0,0,0,0.4); z-index: 1; width: 16px; height: 16px; background: #fff; transform: rotate(45deg) translateX(50%);}
.popover-box.top-left .arrow { left: 10px; top:-10px;}
.popover-box.top-center .arrow {left: 50%; top:-10px;}
.popover-box.top-right .arrow { right: 10px; top:-10px;}
.popover-box.right-top .arrow{top: 10px; right:0px;}
.popover-box.right-center .arrow {top: 50%; right:0px;}
.popover-box.right-bottom .arrow {bottom: 10px; right:0px;}
.popover-box.bottom-left .arrow {left: 10px; bottom:0px;}
.popover-box.bottom-center .arrow {left: 50%;bottom:0px;}
.popover-box.bottom-right .arrow {right: 10px;bottom:0px;}
.popover-box.left-top .arrow {top: 10px; left: -10px;}
.popover-box.left-center .arrow {top: 50%; left: -10px;}
.popover-box.left-bottom .arrow {bottom: 10px; left: -10px;}

/*手机装修*/
.design-box{min-width: 860px; width: 960px; margin: 30px auto; position: relative;}
.design-box .design-preview { position: relative; float: left; width: 320px; background: #fff; margin-bottom: 24px;}
.design-box .design-header{ display: none; height: 70px; background:url(../images/common/iphone_head.png) no-repeat center center;}
.design-box .design-preview.big {padding: 0 10px 60px; width: 340px; border:1px solid #ddd; border-radius:20px; }
.design-box .design-preview.big .design-header{  display: block;}
.design-box .design-entry { width: 100%; margin: 0 auto; position: relative; min-height: 200px; background: #f9f9f9; -webkit-box-shadow: 0 0 0 1px #c5c5c5; box-shadow: 0 0 0 1px #c5c5c5;}
.design-config-region{position: relative;}
.design-config-region h1{padding: 18px 60px 0 60px; height: 64px; line-height: 46px; font-size: 16px; color: #fff; font-weight: bold; text-align: center; background:url(../images/common/titlebar.png) no-repeat;}
.design-config-region h1 span { display: inline-block; height: 46px; width: 200px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.design-content{ min-height: 400px; padding-bottom: 10px; display: block;}
.design-box .design-sidebar {position: relative; float: left; width: 620px; margin: 0 0 50px 20px;  font-size: 14px;}
.design-box .design-sidebar .table-content .form-group label.col-sm-4.control-label{ min-width: 160px;}

/*银联商务*/
.unionpay-page{ background: #fff;}
.pay-banner { position: relative;}
.pay-banner ul li {display:block; cursor: pointer;}
.pay-banner ul li img{ max-width: 100%;}
.pay-banner .num{position: absolute; bottom: 12px;left: 50%; margin-left: -10px;}
.pay-banner .num ul li{ display: inline-block; border-radius: 99%; background: #fff; width: 10px; height: 10px; text-indent: -9999px; margin: 0px 5px; opacity: 0.5;}
.pay-banner .num ul li.selected{ opacity: 1;}
.pay-container h2,.pay-container h3,.pay-container h5,.bottom-cta h3{font-weight: 300;font-style: normal;color: inherit;text-rendering: optimizeLegibility;margin-top: 0;margin-bottom: 1.2rem;font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Roboto,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Microsoft Jhenghei,sans-serif;}
.pay-container{max-width: 66.66667%;padding-left: .9375rem;padding-right: .9375rem;flex: 0 0 66.66667%;display: block;margin: auto;font-weight: 400;line-height: 1.5;color: #212121;}
.pay-container .module-fir{padding-top: 80px; padding-bottom: 48px; border-bottom: 1px solid rgba(0,0,0,.05); color: #202020;}
.pay-container .module-fir h2{margin-bottom: 12px; font-size: 42px; line-height: 70px;}
.pay-container .module-fir p{font-size: 16px; line-height: 24px;}
.pay-container .module-sec{padding: 88px 0 0;}
.pay-container .module-sec .division{margin-bottom: 68px;}
.pay-container .module-sec .division h3{font-size: 36px; line-height: 52px;}
.pay-container .module-sec .division p{margin-bottom: 22px; font-size: 16px; line-height: 24px;}

/*充值切换*/
.pc-only{display: flex;}
.system-box{padding-top: 66px;flex: 0 0 50%; max-width: 50%;}
.system-box > div{cursor: pointer; height: 112px;}
.system-box > div:hover{background-color: #f9f9f9;}
.system-box > div .box-icon{float: left; display: inline-block; width: 118px; height: 112px; line-height: 112px; text-align: center;}
.system-box > div .box-icon i{ background:url(../images/unionpay/charge.png) no-repeat -3px 2px; background-size: 220%; margin: 25px auto;display: block; width: 60px; height: 60px;}
.system-box > div .box-icon i.icon2{ background-position: -3px -59px;}
.system-box > div .box-icon i.icon3{ background-position: -3px -129px;}
.system-box > div .box-icon i.icon4{ background-position: -3px -199px;}
.system-box > div .box-desc{padding-top: 32px;}
.box-desc-title{font-size: 18px; font-weight: 600;}
.box-desc-message{opacity: .7; font-size: 14px; margin-top: 3px; padding: 0 10px;}
.client-box{flex: 0 0 50%; max-width: 50%;}
.system-box-image{position: relative;}
.system-box-image .account-rect-img{width: 378px; height: 540px;}
.system-box-image .account-frame-img{width: 292px; top: 0; position: absolute; left: 124px;}
.system-box-image .account-contain-img{top: 65px; left: 146px;position: absolute; width: 240px;}

/*鉴权服务*/
.pay-container .module-sec .division .authentication-box{display: flex;}
.pay-container .module-sec .division .function{cursor: pointer; min-width: 220px; padding-right: 22px; padding-bottom: 22px;flex: 0 0 25%; max-width: 25%;}
.pay-container .module-sec .division .function .authentication-service{padding: 10px 26px 26px; background: #f9f9f9;height: 250px; border-radius: 5px; cursor: default;}
.pay-container .module-sec .division .function .authentication-service .icon{margin-bottom: 6px; width: 60px; height: 60px; display: block; background:url(../images/unionpay/charge.png) no-repeat -3px 2px; background-size: 220%; }
.pay-container .module-sec .division .function .authentication-service .icon.icon1{ background-position: -69px 4px;}
.pay-container .module-sec .division .function .authentication-service .icon.icon2{ background-position: -69px -62px;}
.pay-container .module-sec .division .function .authentication-service strong{display: block; margin-bottom: 8px; font-size: 18px;}
.pay-container .module-sec .division .function .authentication-service p{margin-bottom: 0;line-height: 24px; font-size: 14px; opacity: .7;}
.module-thi{padding: 46px 0; background-color: #1f3074; color: #fff;}
.module-thi .product-info{padding: 15px 0;}
.module-thi .product-info .row{margin: auto; max-width: 66.66667%; display: flex; margin-bottom: 25px;}
.product-info .odd{padding-right: 135px; flex: 0 0 58.33333%; max-width: 58.33333%;}
.product-info strong{display: block; margin-bottom: 16px; font-size:52px; font-weight: 500; line-height: 1; color: hsla(0,0%,100%,.5);}
.product-info h5{margin-bottom: 10px; font-size: 16px; font-weight: 700;}
.product-info p{font-size: 14px; color: hsla(0,0%,100%,.5);line-height: 1.6; margin-bottom: 1rem;}
.product-info h2{font-size: 38px; line-height: 60px;}
.bottom-cta{background: #35c8e6; color: #fff; text-align: center; padding: 60px 0 60px; box-sizing: border-box;}
.bottom-cta h3{font-size: 28px;}
.bottom-cta .bottom-cta-btn{ background: #fff; color: #35C8E6; font-size: 22px; font-weight: 400; cursor: pointer; padding: 5px 40px; text-align: center; display: inline-block; border-radius:25px; margin-top: 25px;}

/*社区推广码*/
.spread-box{ background: #fff; padding: 20px; min-width: 500px;}
.spread-top-box{  text-align: center;}
.spread-top-box h5{ display: block; font-size: 16px; color: #333; line-height: 28px;}
.spread-top-box p{ display: block; line-height: 22px; margin-bottom: 10px; color: #999;}
.spread-top-box img{ display: block; border: 1px solid #000; width: 150px; height: 150px; margin: auto auto 10px; }

/*进入条*/
.procedure-box{display: flex; }
.procedure-box .procedure-item{flex: 1; text-align: center; position: relative;display: inline-block; float: left; }
.procedure-item span.number{ background: #ccc;position: absolute; left: 50%; z-index: 2; margin: 0px auto; margin-left: -9px; width: 18px; line-height: 18px; height: 18px; display: block; border-radius: 99%; font-size: 12px; text-align: center; color: #333;}
.procedure-item::before{ position: absolute;content: ''; top: 9px; left: 0px; right: auto; width: 100%; height: 2px; display: inline-block;background: #ccc;}
.procedure-item.active span.number{ color: #fff; background: #2589FF;}
.procedure-item.active::before {  background: #2589FF;}
.procedure-item:first-child::before{ width: 50%; right: 0px; left: auto;}
.procedure-item:last-child::before{ width: 50%; right: auto; left: 0px;}
.procedure-item p{margin-top: 22px; line-height: 16px; font-size: 12px;}
